.A_Logo {
  width: 2.326vw;

  img {
    width: 100%;
  }
}

.A_nameGuideSection2 {
  width: 48.057vw;
  height: 7.591vw;
}

.A_lineBar {
  width: 117.014vw;
  height: auto;
}

.A_namingBar {
  width: 72.126vw;
  height: auto;
}

.A_image1BarHeader {
  width: 15.401vw;
  height: auto;
}
.A_image2BarHeader {
  width: 15.417vw;
  height: auto;
}
.A_image3BarHeader {
  width: 12.569vw;
  height: auto;
}
.A_image4BarHeader {
  width: 18.16vw;
  height: auto;
}
.A_image5BarHeader {
  width: 10.486vw;
  height: auto;
}

.A_buttonAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.521vw 1.354vw;
  border: 0.104vw solid var(--black);
  border-radius: 1.389vw;
  background-color: var(--white);

  > p {
    color: #131313;
    font-size: 1.313vw;
  }
}

.A_pictureAcca {
  position: absolute;
  border-radius: 0.208vw;
}

.A_aboutPage {
  padding: 1.042vw 2.708vw 1.042vw 2.778vw;
  border: 0.104vw solid var(--black);
  border-radius: 1.319vw;
  background-color: var(--white);
  p {
    color: #131313;
    text-align: center;
    font-size: 1.25vw;
    font-style: normal;
    line-height: 105.092%;
  }
}

#A_linePicuresSlang {
  width: 92.986vw;
}

.A_linePictures {
  width: 100%;
  overflow: hidden;
  > img {
    width: 107.847vw;
  }
}

.A_descAboutFilm {
  color: #131313;
  font-family: 'PP Radio Grotesk';
  font-size: 1.25vw;
  line-height: 105.092%;
}

.A_linesAcca {
  width: 84.442vw;
  height: 45.296vw;
}

.A_pageName {
  width: 47.156vw;
}

.A_titleName {
  color: #131313;
  font-size: 3.333vw;
  line-height: 95%;
}

.A_sammary {
  color: #131313;
  font-size: 1.667vw;
  font-style: italic;
  line-height: 1.91vw;
  letter-spacing: -0.017vw;
}

.A_mainText {
  color: #131313;
  font-size: 1.25vw;
  line-height: 1.667vw;
  letter-spacing: -0.013vw;
}

.A_lineSection4Fashion {
  width: 136.066vw;
  height: 117.193vw;
}

.A_pictureSection4Fashion {
  width: 30.486vw;
  height: 22.639vw;
}

.A_pictureSection4Fashion2 {
  width: 22.431vw;
  height: 12.75vw;
}

.A_pictureSection4Fashion3 {
  width: 46.389vw;
  height: 10vw;
}

.A_pictureSection4Fashion4 {
  width: 30.486vw;
  height: 24.028vw;
}

.A_lineSection2 {
  width: 52.761vw;
  height: 51.435vw;
  overflow: hidden;
  > img {
    height: 100%;
  }
}

.A_pictureSection2 {
  width: 38.403vw;
  height: 32.014vw;
}

.A_descSection2 {
  color: #131313;
  font-size: 1.25vw;
  font-style: italic;
  line-height: 105.092%;
}

.A_pictureSection3Fashion {
  width: 14.654vw;
  height: 16.736vw;
}

.A_descSection3 {
  color: #000;
  font-size: 1.25vw;
  line-height: 105.092%;
}

.A_innerPicture {
  border-radius: 0.208vw;
  width: 14.583vw;
  height: 16.944vw;
}
.A_pictureDescription {
  color: #131313;
  font-size: 1.25vw;
  line-height: 105.092%;
}

.A_mainText2 {
  color: #131313;
  width: 40vw;
  font-size: 1.25vw;
  line-height: 1.667vw;
  letter-spacing: -0.013vw;
}

.A_pictureSection3 {
  width: 38.542vw;
  height: 23.403vw;
}

.A_textSection3 {
  color: #131313;
  font-size: 1.25vw;
  line-height: 1.667vw;
  letter-spacing: -0.013vw;
}

.A_pictureNumber {
  color: #131313;
  font-size: 1.027vw;
  font-weight: 500;
  line-height: 105.092%;
}

.A_pictureSection4 {
  border-radius: 0.208vw;
  width: 22.569vw;
  height: 15.556vw;
}

.A_pictureSection5 {
  border-radius: 0.208vw;
  width: 30.556vw;
  height: 23.472vw;
}

.A_pictureSection5Fashion2 {
  width: 30.417vw;
  height: 21.736vw;
}

.A_pictureSection5Fashion {
  width: 30.139vw;
  height: 27.222vw;
}

.A_descSection5 {
  color: #131313;
  font-size: 1.25vw;
  font-style: italic;
  line-height: 105.092%;
}

.A_lineSection5 {
  width: 36.828vw;
  height: 21.159vw;
}

.A_InstagramTelegram {
  width: 1.02vw;
  height: 1.02vw;
}

.A_titleFashion90 {
  width: 62.879vw;
  height: 11.795vw;
}

.A_titleGames90 {
  width: 61.318vw;
  height: 12.153vw;
}

.A_aboutPage {
  display: flex;
  width: 21.528vw;
  padding: 1.285vw 1.91vw 1.285vw 1.979vw;
  justify-content: center;
  align-items: center;
  border-radius: 1.319vw;
  border: 0.104vw solid #131313;
  background: #fff;
}

.A_lineFashion90 {
  width: 90vw;
  height: 48.958vw;
}

.A_pictureFashion1 {
  width: 26.601vw;
  height: 26.601vw;
}

.A_pictureFashion2 {
  width: 16.756vw;
  height: 16.756vw;
}

.A_pictureFashion3 {
  width: 11.013vw;
  height: 11.013vw;
}
.A_pictureFashion4 {
  width: 11.389vw;
  height: 10.486vw;
}
.A_pictureFashion5 {
  width: 15.717vw;
  height: 20.641vw;
}
.A_descSection6 {
  color: #131313;
  font-family: 'PP Radio Grotesk';
  font-size: 1.25vw;
  font-style: italic;
  line-height: 105.092%;
}
.A_pictureFashion6 {
  width: 14.444vw;
  height: 14.444vw;
}
.A_pictureFashion7 {
  width: 15.139vw;
  height: 16.667vw;
}

.A_lineSection4 {
  overflow: hidden;
}

.A_lineSection6 {
  width: 100vw;
  overflow: hidden;
}

.A_pictureSection6 {
  width: 46.944vw;
  height: 29.731vw;
}

.A_lineSection6Fashion {
  height: 29.597vw;
}

.A_backgroundTitle {
  display: flex;
  > img {
    width: 99.374vw;
  }
}

.A_buttonFollowMain {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 0.208vw 1.389vw 0.347vw 1.389vw;
  justify-content: center;
  align-items: center;
  gap: 0.694vw;
  border-radius: 1.259vw;
  border: 0.104vw solid #000;
  background-color: transparent;
  color: #000;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.389vw;
  line-height: 105.092%;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.A_imageBigCardMain {
  width: 62.222vw;
  height: 100%;
}

.A_subtitleMainPage {
  width: 26.111vw;
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.404vw;
  line-height: 1.871vw;
  letter-spacing: -0.014vw;
}

.A_buttonWatchAllMain {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.389vw;
  font-style: italic;
  line-height: 105%;
  text-decoration-line: underline;
}

.A_middle2CardMain {
  width: 22.5vw;
  height: 31.944vw;
}

.A_subTagNewMain {
  display: flex;
  padding: 0.162vw 1.082vw 0.216vw 1.082vw;
  justify-content: center;
  align-items: center;
  gap: 0.541vw;
  border-radius: 0.981vw;
  border: 0.069vw solid #888;
}

.A_imageMiddleCardMainTests {
  width: auto;
  height: 100%;
}

.A_lineCollectorMain {
  width: 50.138vw;
  height: auto;
}

.A_namingEmailMain {
  width: 39.514vw;
  height: auto;
}

.A_inputEmailMain {
  display: flex;
  width: 23.056vw;
  height: 1.882vw;
  padding: 0.459vw;
  align-items: center;
  gap: 16.36vw;
  border-radius: 1.695vw;
  border: 0.086vw solid #131313;
  background: #f4f3ef;
  color: rgba(0, 0, 0, 0.7);

  > input {
    font-family: 'PP Radio Grotesk';
    font-size: 1.378vw;
    line-height: 95%;
    outline: none;
    width: 21.056vw;
    background-color: transparent;
    border: none;
    margin-left: 0.694vw;
  }
}

.A_ButtonEmailMain {
  cursor: pointer;
  display: flex;
  border: none;
  padding: 0.459vw 1.722vw;
  align-items: center;
  gap: 17.225vw;
  border-radius: 1.695vw;
  background: #332d26;
  border: 0.086vw #332d26 solid;
  color: #fff;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.378vw;
  line-height: 95%;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;

  &:hover {
    background: #fff;
    color: #332d26;
  }
}

.A_subEmailMain {
  color: #131313;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.378vw;
  font-style: italic;
  line-height: 1.722vw;
  letter-spacing: -0.014vw;
}

.A_lineTests {
  width: 79.792vw;
  height: auto;
}

.A_namingTests {
  width: 40.213vw;
  height: auto;
}

.A_tagTests {
  display: flex;
  padding: 0.362vw 1.404vw 0.597vw 1.404vw;
  justify-content: center;
  align-items: center;
  gap: 0.078vw;
  border-radius: 1.378vw;
  border: 0.07vw solid #000;
  background: #f4f3ef;
}

.A_image1TestsHeader {
  width: 19.587vw;
  height: auto;
}

.A_mainTextTests {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 3.743vw;
  line-height: 90%;
  letter-spacing: -0.15vw;
}

.A_mainSubtextTests {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.404vw;
  line-height: 1.871vw;
  letter-spacing: -0.014vw;
  width: 32.671vw;
}

.A_imageMiddleCardMainTestsSection {
  height: 100%;
  width: auto;
}

#my-form-status {
  width: 35.833vw;
  color: #131313;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.378vw;
  line-height: 1.722vw;
  letter-spacing: -0.014vw;
  text-align: center;
}

.A_title2TestsPage {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 2.495vw;
  line-height: 95%;
}

.A_subtitle2TestsPage {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.404vw;
  line-height: 105.092%;
}

.A_buttonFollowTests {
  cursor: pointer;
  border-radius: 1.259vw;
  border: 0.064vw solid #000;
  width: fit-content;
  padding: 0.208vw 1.597vw 0.347vw 1.597vw;
  color: #000;
  background-color: transparent;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.404vw;
  line-height: 105.092%;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.A_middle2CardTests {
  width: 20.273vw;
  height: 34.153vw;
}

.A_image2TestsHeader {
  width: 16.334vw;
  height: auto;
}
.A_image3TestsHeader {
  width: 15.454vw;
  height: auto;
}
.A_image4TestsHeader {
  width: 11.181vw;
  height: auto;
}
.A_image5TestsHeader {
  width: 12.099vw;
  height: auto;
}
.A_image6TestsHeader {
  width: 15.602vw;
  height: auto;
}

.A_image1EmailMain {
  width: 27.723vw;
  height: auto;
}

.A_image2EmailMain {
  width: 9.804vw;
  height: auto;
}

.A_image3EmailMain {
  width: 11.099vw;
  height: auto;
}

.A_image4EmailMain {
  width: 14.513vw;
  height: auto;
}

.A_imageLongCardMain {
  width: 100%;
  height: auto;
}

.A_Header {
  width: 62.222vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

.A_Input {
  position: relative;
  width: 19.792vw;
  height: 2.292vw;
  background-color: #f4f3ef;
  border: 0.069vw solid var(--black);
  border-radius: 3.472vw;
  > input {
    width: 90%;
    height: 100%;
    border: none;
    background-color: #f4f3ef;
    border-radius: 3.472vw;
    padding: 0.278vw 0.417vw 0.278vw 1.042vw;
    outline: none;
    font-size: 1.25vw;
  }

  ::-webkit-input-placeholder {
    font-size: 1.25vw;
  }
  ::-moz-placeholder {
    font-size: 1.25vw;
  }
  :-ms-input-placeholder {
    font-size: 1.25vw;
  }
  :-moz-placeholder {
    font-size: 1.25vw;
  }
}

.A_Filter {
  display: flex;
  gap: 0.694vw;
}

.A_InputHeader {
  position: relative;
  width: 20.585vw;
  height: 1.793vw;
  padding: 0.312vw 0.468vw 0.468vw 1.17vw;
  border-radius: 1.952vw;
  border: 0.104vw solid #000;
  display: flex;
  align-items: center;
  > input {
    outline: none;
    color: #000;
    width: 17.885vw;
    border: none;
    background-color: transparent;
    font-family: 'PP Radio Grotesk';
    font-size: 1.389vw;
    line-height: 105.092%;
  }
  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'PP Radio Grotesk';
    font-size: 1.389vw;
    line-height: 105.092%;
  }
  ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'PP Radio Grotesk';
    font-size: 1.389vw;
    line-height: 105.092%;
  }
  :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'PP Radio Grotesk';
    font-size: 1.389vw;
    line-height: 105.092%;
  }
  :-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'PP Radio Grotesk';
    font-size: 1.389vw;
    line-height: 105.092%;
  }
}

.A_linkHeader {
  color: #000;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.389vw;
  line-height: 105.092%;

  &:hover {
    text-decoration-line: underline;
  }
}

.A_image1MainHeader {
  width: 17.83vw;
  height: auto;
}

.A_image2MainHeader {
  width: 16.038vw;
  height: auto;
}

.A_image3MainHeader {
  width: 25.547vw;
  height: auto;
}

.A_image4MainHeader {
  width: 13.529vw;
  height: auto;
}

.A_image5MainHeader {
  width: 17.986vw;
  height: auto;
}

.A_image6MainHeader {
  width: 25.123vw;
  height: auto;
}

.A_image7MainHeader {
  width: 22.926vw;
  height: auto;
}

.A_titleMainPage {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 3.333vw;
  line-height: 95%;
}

.A_title2MainPage {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 2.5vw;
  line-height: 95%;
}

.A_subtitle2MainPage {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.389vw;
  line-height: 105%;
}

.A_lineMain {
  width: 72.153vw;
  height: auto;
}

.A_cardTitle {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 4.444vw;
  line-height: 75%;
  letter-spacing: -0.044vw;
  text-transform: lowercase;
}

.A_imgCard {
  display: flex;
  width: 10.347vw;
  height: 18.333vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    width: 14.167vw;
    height: 18.333vw;
  }
}

.A_Cancel {
  width: 1.038vw;
  height: 1.017vw;
  position: absolute;
  right: 1.393vw;
  top: 1.366vw;
  cursor: pointer;
}

.A_tagCard {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.111vw;
  font-style: italic;
  line-height: 100%;
  letter-spacing: -0.011vw;
  text-transform: lowercase;
}

.A_Plot {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.25vw;
  line-height: 140%;
  letter-spacing: -0.013vw;
}

.A_Date {
  color: #494948;
  font-size: 1.111vw;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    width: 2.396vw;
  }
}

.A_guideSection {
  height: 2.527vw;
}

.A_guideImage1 {
  position: relative;
  z-index: 2;
  width: 37.577vw;
  height: 36.846vw;
}

.A_guideLine1 {
  width: 23.311vw;
  height: 21.909vw;
}

.A_guideSubtitle {
  font-size: 2.778vw;
  line-height: 95%;
}

.A_guideGrid {
  width: 70.938vw;
  height: 21.25vw;
}

.A_guideTextDesc {
  font-size: 1.242vw;
  line-height: 1.294vw;
}

.A_guideLogo2 {
  width: 9.942vw;
  height: 9.417vw;
}

.A_guideLogo3 {
  width: 6.503vw;
  height: 6.974vw;
}

.A_logo2Section2 {
  width: 39.78vw;
  height: 15.428vw;
}

.A_logo1Section2 {
  width: 18.899vw;
  height: 7.33vw;
}

.A_nameGuideSection7 {
  width: 50.833vw;
  height: 11.944vw;
}

.A_descGuideSection1 {
  width: 51.042vw;
  font-size: 2.222vw;
  line-height: 2.566vw;
  letter-spacing: -0.022vw;
  font-style: italic;
}

.A_guideTypeDesc123 {
  width: 5.833vw;
  color: #fff;
  font-family: 'Inter Tight';
  font-size: 1.144vw;
  line-height: 110.2%;
}

.A_guideColorDescSection5 {
  color: #000;
  font-size: 1.242vw;
  line-height: 1.294vw;
}

.A_guideLetter1 {
  width: 11.589vw;
  height: 11.378vw;
}

.A_guideTypeTitle1 {
  color: #fff;
  font-family: 'Inter Tight';
  font-size: 3.053vw;
  font-weight: 700;
  line-height: 105.092%;
}

.A_guideTypeDesc1 {
  color: #fff;
  width: 17.222vw;
  font-family: 'Inter Tight';
  font-size: 0.934vw;
  line-height: 1.109vw;
}

.A_nameGuideSection4 {
  height: 12.5vw;
  width: 71.319vw;
}

.A_guideTypeDesc2 {
  color: #202020;
  text-align: right;
  font-family: 'Inter Tight';
  font-size: 1.144vw;
  line-height: 110.2%;
  width: 5.208vw;
  text-align: end;
}

.A_guideLetter2 {
  width: 18.125vw;
  height: 14.792vw;
}

.A_nameGuideSection1 {
  width: 53.464vw;
}

.A_desc2GuideSection1 {
  margin-top: 1.47vw;
  margin-left: 0.9vw;
  font-size: 2.222vw;
  width: 53vw;
  font-style: italic;
  line-height: 2.566vw;
}

.A_guideTypeTitle2 {
  color: #202020;
  font-size: 2.62vw;
  font-weight: 900;
  line-height: 105.092%;
  font-family: 'PP Radio Grotesk Black';
}

.A_guideTypeDesc23 {
  text-align: start;
  color: #202020;
  width: 17.222vw;
  font-size: 0.934vw;
  line-height: 1.109vw;
  font-family: 'PP Radio Grotesk';
}

.A_nameGuideSection5 {
  width: 67.083vw;
  height: 12.569vw;
}

.A_descGuideSection12 {
  width: 50.694vw;
  color: #000;
  font-size: 2.222vw;
  font-style: italic;
  line-height: 2.566vw;
  letter-spacing: -0.022vw;
}

.A_guideImg1Section5 {
  width: 20.486vw;
  height: 20.347vw;
}

.A_guideImg2Section5 {
  width: 16.272vw;
  height: 14.324vw;
}

.A_guideImg3Section5 {
  width: 23.287vw;
  height: 23.196vw;
}

.A_guideImg4Section5 {
  width: 11.476vw;
  height: 10.544vw;
}

.A_guideImg5Section5 {
  width: 14.063vw;
  height: 14.162vw;
}

.A_guideColorSection5 {
  width: 6.875vw;
  height: 6.875vw;
  border-radius: 347.222vw;
}

.A_nameGuideSection6 {
  width: 45.764vw;
  height: 12.569vw;
}

.A_guideLine1Section6 {
  width: 16.479vw;
  height: 15.487vw;
}

.A_guideLine2Section6 {
  width: 28.58vw;
  height: 23.417vw;
}

.A_itemMenu {
  text-decoration: none;
  color: rgba(32, 32, 32, 0.6);
  font-size: 1.389vw;
  font-style: italic;
  line-height: 1.801vw;
  letter-spacing: -0.014vw;
}

.A_logoMenu {
  width: 4.445vw;
  height: 4.344vw;
}

.A_Naming {
  width: 68.777vw;
}

.A_guideImgSection6 {
  width: 25.854vw;
  height: 25.949vw;
}

.A_guideImg1Section7 {
  width: 46.549vw;
  height: 31.219vw;
  grid-area: 1 / 1 / 2 / 3;

  > img {
    width: 100%;
  }
}

.A_guideImg2Section7 {
  width: 22.472vw;
  height: 31.266vw;
  grid-area: 1 / 3 / 2 / 4;

  > img {
    width: 100%;
  }
}

.A_guideImg3Section7 {
  width: 22.369vw;
  height: 29.407vw;

  > img {
    width: 100%;
  }
}

.A_guideImg6Section7 {
  width: 22.5vw;
  height: 30.139vw;
  grid-area: 3 / 1 / 4 / 2;

  > img {
    width: 100%;
  }
}

.A_descCard {
  width: 10.069vw;
  color: #000;
  font-family: 'Inter Tight';
  font-size: 1.111vw;
  line-height: 125%;
  letter-spacing: -0.011vw;
  text-transform: lowercase;
}

.A_nameCard {
  hyphens: auto;
  color: #000;
  font-size: 2.406vw;
  line-height: 95%;
}

.A_ageTagBlack {
  border: 0.104vw solid #000;
}

.A_ageTagWhite {
  border: 0.104vw solid #fff;
}

.A_ageTagTextBlack {
  color: #000;
}

.A_ageTagTextWhite {
  color: #fff;
}

.A_ageTag {
  width: 3.368vw;
  height: 1.979vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.739vw;

  > p {
    font-family: 'Inter Tight';
    font-size: 0.972vw;
    letter-spacing: -0.01vw;
    text-transform: lowercase;
  }
}

.A_guideImg7Section7 {
  width: 46.597vw;
  height: 30.139vw;
  grid-area: 3 / 2 / 4 / 4;

  > img {
    width: 100%;
  }
}

.A_pictureSection3Tablet {
  display: none;
}

.A_lineSection6MobileFashion {
  display: none;
}

.A_pictureSection6Mobile {
  display: none;
}

.A_titleSectionFooter {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 1.167vw;
  line-height: 95.092%;
  letter-spacing: -0.012vw;
}

.A_iconFooter {
  width: 1.02vw;
  height: 1.02vw;
}
.A_bigLogoFooter {
  width: 20.069vw;
  height: 7.784vw;
}

.A_russiaInfoFooter {
  width: 24.167vw;
}

.A_logoHSE {
  width: 5.278vw;
  height: 2.327vw;
}

.A_russiaInfoFooter {
  width: 23.167vw;
  color: #8e8d89;
  font-family: 'PP Radio Grotesk';
  font-size: 0.903vw;
  line-height: 130%;
  letter-spacing: -0.009vw;
}

.A_linkTextFooter {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 0.875vw;
  line-height: 95.092%;
  letter-spacing: -0.009vw;
}

.A_linkTextFooter {
  color: #000;
  font-family: 'PP Radio Grotesk';
  font-size: 0.875vw;
  line-height: 95.092%;
  letter-spacing: -0.009vw;
}

.A_guideText {
  font-size: 1.667vw;
  line-height: 2.083vw;
  letter-spacing: -0.017vw;
  width: 18.403vw;
}
.O_secondSectionTablet {
  display: none;
}
.O_thirdSectionFashionMobile {
  display: none;
}

.A_pictureCardSearch {
  width: 22.361vw;
  height: 13.333vw;
}

.A_typeCardSearch {
  color: #888;
  font-size: 1.389vw;
  line-height: 105%;
}

.A_nameArticleSearch {
  color: #000;
  font-size: 2.778vw;
  line-height: 95%;
}

.A_subArticleSearch {
  color: #000;
  font-size: 1.667vw;
  line-height: 105%;
}

.A_guideTitle {
  font-size: 3.75vw;
  margin-bottom: 1.185vw;
}
.A_lineSection6Tablet {
  display: none;
}

.A_linesAccaMobile {
  display: none;
}

.A_lineBarTablet {
  display: none;
}

#A_guideBackground1Section2,
#A_guideBackground2Section2 {
  border-right: none;
}

#A_guideBackground1Section2 {
  background: #fff;
}

#A_guideBackground2Section2 {
  background: #f4f3ef;
}

#A_guideBackground3Section2 {
  background: #000;
}

#A_pictureAcca1 {
  width: 22.569vw;
  height: 15.152vw;
}

#A_pictureAcca2 {
  width: 15.972vw;
  height: 13.958vw;
}

#A_pictureAcca3 {
  width: 22.569vw;
  height: 13.333vw;
}

#A_pictureAcca4 {
  width: 14.722vw;
  height: 11.307vw;
}

#A_mainText {
  width: 33.264vw;
}

#A_subTagNewMainTablet {
  display: none;
}

#A_pictureSlang10 {
  width: 18.333vw;
  height: 18.333vw;
}
#A_picture2Slang10 {
  width: 15.347vw;
  height: 15.486vw;
}
#A_picture3Slang10 {
  width: 15.833vw;
  height: 15.764vw;
}
#A_picture4Slang10 {
  width: 20.556vw;
  height: 20.556vw;
}

@media all and (min-width: 913px) and (max-width: 1280px) {
  .A_sammary {
    font-size: 1.667vw;
  }

  .A_titleName {
    font-size: 3.296vw;
  }

  .A_title2MainPage {
    font-size: 2.813vw;
  }

  .A_imageLongCardMain {
    width: 25.391vw;
    height: 19.844vw;
  }

  .A_subtitle2MainPage {
    font-size: 1.406vw;
  }

  .A_mainText {
    color: #131313;
    letter-spacing: -0.013vw;
    font-size: 1.484vw;
    line-height: 1.953vw;
  }

  .A_mainText2 {
    font-size: 1.484vw;
    line-height: 1.953vw;
  }

  .A_textSection3 {
    font-size: 1.484vw;
    line-height: 1.953vw;
  }

  .A_descAboutFilm {
    font-size: 1.406vw;
  }

  .A_pictureSection2 {
    width: 34.688vw;
    height: 28.917vw;
  }

  .A_pictureSection3 {
    display: none;
  }

  .A_pictureDescription {
    font-size: 1.406vw;
  }

  .A_pictureSection4Fashion {
    width: 29.662vw;
    height: 22.04vw;
  }
  .A_pictureSection4Fashion2 {
    width: 12.734vw;
    height: 24.453vw;
  }
  .A_pictureSection4Fashion4 {
    width: 36.563vw;
    height: 24.453vw;
  }
  .A_pictureSection4Fashion3 {
    width: 50.391vw;
    height: 11.563vw;
  }
  .A_pictureSection4Fashion32 {
    width: 24.531vw;
    height: 11.25vw;
  }
  .A_Input {
    width: 19.144vw;
    height: 2.578vw;
    border: 0.117vw solid var(--black);
    border-radius: 1.956vw;

    > input {
      padding: 0.278vw 0.817vw 0.278vw 1.042vw;
      font-size: 1.406vw;
    }
  }
  .A_pictureSection4Fashion33 {
    width: 24.831vw;
    height: 11.25vw;
  }

  .A_lineSection5 {
    width: 41.801vw;
    height: 24.024vw;
  }

  .A_pictureSection5 {
    width: 38.082vw;
    height: 29.252vw;
  }
  .A_pictureSection3Tablet {
    display: block;
    width: 38.125vw;
    height: 29.297vw;
  }
  .A_lineSection6Fashion {
    display: none;
  }
  .A_descSection3 {
    font-size: 1.406vw;
  }
  .A_lineSection6Tablet {
    display: block;
    width: 100vw;
    overflow: hidden;

    > img {
      width: 104.141vw;
      left: -3.828vw;
    }
  }

  #A_subTagNewMainTablet {
    display: flex;
  }

  #A_subTagNewMainNoneTablet {
    display: none;
  }
}

@media screen and (max-width: 912px) {
  .A_Logo {
    width: 10.278vw;
  }
  .A_buttonAbout {
    padding: 0.833vw 1.944vw;
    border: 0.169vw solid var(--black);
    border-radius: 2.373vw;

    > p {
      font-size: 2.136vw;
      height: 1.58vw;
    }
  }
  .A_Input {
    width: 54.097vw;
    height: 6.667vw;
    border: 0.303vw solid var(--black);
    border-radius: 6.956vw;

    > input {
      border-radius: 3.472vw;
      padding: 1.111vw 0.417vw 1.667vw 3.056vw;
      font-size: 3.65vw;
    }
    ::-webkit-input-placeholder {
      font-size: 3.65vw;
    }
    ::-moz-placeholder {
      font-size: 3.65vw;
    }
    :-ms-input-placeholder {
      font-size: 3.65vw;
    }
    :-moz-placeholder {
      font-size: 3.65vw;
    }

    > img {
      top: 1.956vw !important;
      right: 1.894vw !important;
      width: 2.838vw;
      height: 2.838vw;
    }
  }
  .A_bigLogoFooter {
    width: 47.222vw;
    height: 18.315vw;
  }
  .A_iconFooter {
    width: 2.371vw;
    height: 2.371vw;
  }

  .A_logoHSE {
    width: 12.723vw;
    height: 5.275vw;
  }
  .A_russiaInfoFooter {
    width: 55.111vw;
    font-size: 2.098vw;
    line-height: 130%;
    letter-spacing: -0.021vw;
  }
  .A_linkTextFooter {
    font-size: 2.034vw;
    line-height: 95.092%;
    letter-spacing: -0.02vw;
  }
  .A_imageLongCardMain {
    width: 49.041vw;
    height: 38.327vw;
  }
  .A_titleSectionFooter {
    font-size: 2.712vw;
    line-height: 95.092%;
    letter-spacing: -0.027vw;
  }
  .A_titleFashion90 {
    width: 80.808vw;
    height: 15.159vw;
  }
  .A_lineSection5 {
    width: 79.448vw;
    height: 45.598vw;
  }
  .A_namingBar {
    margin-top: 61.478vw;
    margin-left: 11.111vw;
    width: 77.778vw;
    height: 14.753vw;
  }
  .A_image5BarHeaderMobile {
    position: absolute;
    top: 4.811vw;
    left: 12.778vw;
    width: 28.871vw;
    height: 27.915vw;
    z-index: 5;
  }
  .A_image3BarHeaderMobile {
    width: 34.607vw;
    height: 34.607vw;
    top: 22.811vw;
    left: 57.778vw;
    position: absolute;
    z-index: 5;
  }
  .A_image4BarHeaderMobile {
    width: 49.999vw;
    height: 49.999vw;
    top: 87.811vw;
    left: -1.222vw;
    position: absolute;
    z-index: 5;
  }
  .A_image1BarHeaderMobile {
    width: 42.403vw;
    height: 42.403vw;
    top: 91.811vw;
    left: 50.778vw;
    position: absolute;
    z-index: 5;
  }
  .A_lineMobile {
    position: absolute;
    width: 136.525vw;
    height: 160.278vw;
    top: -20.917vw;
    left: -19.278vw;
  }
  .A_title2MainPage {
    font-size: 5.432vw;
  }
  .A_subtitle2MainPage {
    font-size: 2.716vw;
  }
  .A_innerPicture {
    width: 25.075vw;
    height: 29.134vw;
  }
  .A_aboutPage {
    width: 37.088vw;
    padding: 1.667vw 4.689vw 1.667vw 4.756vw;
    border: 0.1vw solid var(--black);
    border-radius: 1.262vw;
    p {
      width: 39.167vw !important;
      font-size: 2.222vw !important;
      line-height: 2.222vw !important;
    }
  }
  .A_pictureFashion1 {
    width: 25.433vw;
    height: 25.433vw;
    z-index: 2;
  }
  .A_pictureFashion2 {
    width: 16.021vw;
    height: 16.021vw;
    z-index: 2;
  }
  .A_lineSection6MobileFashion {
    display: block;
  }

  .A_pictureSection6Mobile {
    display: block;
  }
  .A_pictureFashion3 {
    width: 10.53vw;
    height: 10.53vw;
    z-index: 2;
  }
  .A_pictureFashion4 {
    width: 10.889vw;
    height: 10.026vw;
    z-index: 2;
  }
  .A_pictureDescription {
    font-size: 2.222vw;
  }
  .A_pictureFashion5 {
    width: 15.027vw;
    height: 19.735vw;
    z-index: 2;
  }
  .A_pageName {
    width: 61.308vw;
  }
  .A_linesAcca {
    display: none;
  }
  .A_linePicuresMobile1 {
    width: calc(100% + 5.694vw);
    overflow: hidden;
    position: absolute;
    left: -5.833vw;

    > img {
      margin-top: -5.278vw;
      margin-left: -17.5vw;
      width: 217.222vw;
    }
  }
  .A_linePicuresMobile2 {
    width: calc(100% + 5.694vw);
    overflow: hidden;
    top: 185px;
    left: -5.833vw;
    position: absolute;

    > img {
      margin-left: -115.556vw;
      width: 217.222vw;
    }
  }
  .A_linesAccaMobile {
    display: block;
    margin-top: 16.444vw;
    margin-left: -5vw;
  }
  .A_pictureFashion6 {
    width: 13.811vw;
    height: 13.811vw;
    z-index: 2;
  }
  .A_pictureFashion7 {
    width: 14.474vw;
    height: 15.935vw;
    z-index: 2;
  }
  .A_titleName {
    font-size: 5.556vw;
  }
  .A_sammary {
    font-size: 4.167vw;
    line-height: 4.778vw;
    letter-spacing: -0.042vw;
  }
  .A_mainText {
    font-size: 3.333vw;
    line-height: 4.167vw;
    letter-spacing: -0.033vw;
  }
  .A_pictureSection3 {
    width: 16.84vw;
    height: 19.232vw;
  }
  .A_descSection3 {
    font-size: 2.302vw;
    line-height: 105.092%;
  }
  .M_textPicturesSection4Mobile {
    margin-top: 8.333vw;
  }
  .A_pictureSection4Mobile1 {
    width: 46.829vw;
    height: 18.537vw;
  }
  .A_pictureAboutFilmMobile {
    width: 39.32vw;
    height: 30.224vw;
  }
  .A_descAboutFilmMobile {
    font-size: 2.519vw;
    width: fit-content;
  }
  .A_pictureSection4Mobile2 {
    width: 46.829vw;
    height: 15.815vw;
  }
  .A_pictureSection4Mobile3 {
    width: 38.014vw;
    height: 36.556vw;
  }
  .A_pictureSection4Mobile4 {
    width: 88.149vw;
    height: 39.797vw;
  }
  .A_pictureSection4Mobile5 {
    width: 88.149vw;
    height: 19.186vw;
  }
  .A_pictureSection4Mobile6 {
    width: 88.149vw;
    height: 40.575vw;
  }
  .A_textSection3 {
    font-size: 3.333vw;
    line-height: 4.167vw;
  }
  .A_pictureSection5Mobile {
    width: 88.611vw;
    height: 68.889vw;
  }
  .A_pictureSection4 {
    width: 82.784vw;
    height: 57.058vw;
  }
  .A_pictureSection5 {
    width: 28.559vw;
    height: 20.409vw;
  }

  .A_descSection5 {
    color: #131313;
    font-size: 2.222vw;
    font-style: italic;
    line-height: 105.092%;
  }

  .A_pictureSection6Mobile {
    width: 46.987vw;
    height: 55.036vw;
  }

  .A_lineSection6 {
    display: none;
  }

  .A_InstagramTelegram {
    width: 1.543vw;
    height: 1.543vw;
  }

  .A_pictureSection4Mobile52 {
    width: 42.917vw;
    height: 19.167vw;
  }

  .A_lineSection6MobileFashion {
    position: absolute;
    width: 103.469vw;
    height: auto;
    top: 148.35vw;
    left: -8.45vw;
  }

  #A_subTagNewMainTablet {
    display: flex;
  }

  #A_subTagNewMainNoneTablet {
    display: none;
  }

  #A_pictureAcca2 {
    display: none;
  }
  #A_pictureSection3 {
    margin-top: 0;
  }
}
