.C_allPictures {
  display: flex;
  padding-top: 0.972vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.389vw;
}

.C_AccaSectionPicture {
  display: flex;
  flex-direction: column;
  gap: 0.694vw;
}

.C_firstLine,
.C_secondLine {
  display: flex;
  justify-content: center;
  gap: 1.389vw;
}

.C_picturesSection4 {
  display: flex;
  flex-direction: column;
  gap: 5.903vw;
}

.C_picturesPosition {
  display: flex;
  height: 17.569vw;
  gap: 7.431vw;
}
.C_infoFooter {
  display: flex;
  gap: 2.083vw;
}
.C_linksFooter {
  display: flex;
  flex-direction: column;
  gap: 0.417vw;
}
.C_picturesAllSection3 {
  display: flex;
  gap: 1.389vw;
}

.C_allLinksHeader {
  display: flex;
  gap: 2.986vw;
}

.C_cardsAllSelectionDayMain {
  display: flex;
  flex-direction: column;
  gap: 1.389vw;
}

.C_cardsSelectionDayMain {
  display: flex;
  gap: 1.389vw;
}

.C_subTagsMain {
  display: flex;
  width: 17.621vw;
  height: 3.605vw;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.486vw 0.417vw;
  flex-wrap: wrap;
}

.C_middleCardMainTests {
  display: flex;
  flex-direction: column;
  gap: 1.389vw;
}

.C_tagsTests {
  display: flex;
  gap: 1.715vw;
}

.C_middleCardTests {
  display: flex;
  flex-direction: column;
  gap: 1.528vw;
}

.C_namesFooter {
  display: flex;
  flex-direction: column;
  gap: 0.556vw;
}

.C_picturesSection3,
.C_pictures2Section3,
.C_pictures3Section3,
.C_pictures5Section3,
.C_pictures6Section3 {
  display: flex;
  flex-direction: column;
}
.C_picturesSection3 {
  padding-top: 5.069vw;
  gap: 11.389vw;
}

.C_pictures2Section3 {
  gap: 11.25vw;
}

.C_pictures3Section3 {
  padding-top: 5.208vw;
  gap: 11.042vw;
}

.C_pictures5Section3 {
  gap: 10.903vw;
}

.C_pictures6Section3 {
  padding-top: 4.861vw;
  gap: 11.25vw;
}

.C_searchParameters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.C_exectTime {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 1.736vw;
  height: 2.292vw;
  background: linear-gradient(270deg, #bfa88f -0.04%, #332d26 99.83%);
}

.C_exectTime::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2.292vw;
  width: 2.292vw;
  background-color: none;
  border-radius: 50%;
  border: 0.104vw solid var(--white);
  transition: 0.2s ease-in-out;
}

.C_Years {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.C_Cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1.736vw;
  grid-row-gap: 1.736vw;
}

.C_headerName {
  display: flex;
  flex-direction: column;
  gap: 0.417vw;
}

.C_guideSections {
  display: flex;
  gap: 2.083vw;
}

.C_guideVariantsLogo {
  display: flex;
}

.C_guideLogoBack1 {
  width: 23.639vw;
  height: 12.497vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.069vw solid #000;
}

.C_guideAdaptive123 {
  display: flex;
  gap: 4.444vw;
}

.C_guideAdaptive12 {
  display: flex;
  gap: 3.333vw;
}

.C_guideAllColorsSection5 {
  display: flex;
  gap: 1.25vw;
}

.C_endPictures {
  display: flex;
  gap: 1.328vw;
}

@media all and (max-width: 912px) {
  .C_picturesAllSection3Mobile {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.503vw;
  }
  .ะก_pictureSection4Tablet {
    display: flex;
    gap: 2.083vw;
  }
  .C_picturesSection3Mobile {
    display: flex;
    gap: 1.578vw;
  }
  .C_picturesSection3PMobile {
    display: flex;
    flex-direction: column;
    gap: 1.15vw;
  }

  .C_allPictures {
    padding-top: 8.894vw;
    gap: 2.389vw;
  }
  .C_AccaSectionPicture {
    gap: 2.4vw;
  }
  .C_infoFooter {
    width: 56.944vw;
  }
  .C_infoFooter {
    gap: 4.842vw;
  }
  .C_linksFooter {
    gap: 0.969vw;
  }
  .C_namesFooter {
    gap: 1.292vw;
  }
  .C_firstLine {
    gap: 2.389vw;
  }
}
