.M_Menu {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 1.944vw 2.778vw 0 2.778vw;
}

.M_aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.M_allText {
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
}

.M_pictureDesc {
  display: flex;
  flex-direction: column;
  gap: 0.694vw;
}

.M_textSection2 {
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
}

.M_allPicturesAbout {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 1.389vw;
}

.M_pictureTextSection3 {
  display: flex;
  padding-left: 8.125vw;
  gap: 9.375vw;
}

.M_pictureAcca {
  display: flex;
  gap: 0.694vw;
}

.M_textPictureSection5 {
  display: flex;
  padding-left: 8.125vw;
  gap: 8.958vw;
}

.M_titleFashion90 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1.538vw;
  z-index: 2;
}

.M_titleGames90 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1.25vw;
  z-index: 3;
}

.M_allTextSection2 {
  display: flex;
  flex-direction: column;
  gap: 2.083vw;
}

.M_pictureDescSection3 {
  display: flex;
  flex-direction: column;
  gap: 0.694vw;
}

.M_textSection3 {
  display: flex;
  gap: 14.028vw;
}

.M_textPicturesSection4 {
  position: relative;
  z-index: 2;
  display: flex;
  padding-left: 8.056vw;
  flex-direction: column;
  gap: 1.458vw;
}

.M_textPictureSection5F {
  display: flex;
  gap: 9.722vw;
}

.M_picturesSection5 {
  display: flex;
  gap: 1.528vw;
}

.M_informationSection6 {
  display: flex;
  flex-direction: column;
  gap: 2.361vw;
}

.M_pageTitle {
  height: 39.306vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.M_styleguideMenu {
  display: flex;
  flex-direction: column;
}

.M_Naming {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}

.M_guideTitleDesc {
  width: 100%;
}

.M_guideMission {
  display: flex;
  gap: 9.722vw;
}

.M_guideValues {
  display: flex;
  flex-direction: column;
}

.M_guideTone {
  display: flex;
  gap: 10.556vw;
}

.M_guideAllColors {
  position: relative;
  width: 70.556vw;
  height: 24.167vw;
  background: #fff;
  border-radius: 1.944vw;
  border: 0.11vw solid #202020;
  display: flex;
}

.M_guideCard2 {
  height: 100%;
  display: flex;
  gap: 2.19vw;
}

.M_guideCard1 {
  width: 21.722vw;
  padding: 1.129vw 2.014vw 2.284vw 2.284vw;
  border-radius: 1.944vw;
  border: 0.104vw solid #202020;
  background: #202020;
}

.M_mainPlot {
  display: flex;
  flex-direction: column;
  gap: 1.528vw;
  width: 20.833vw;
  min-height: 16.806vw;
}

.M_guideImagesSection5 {
  display: flex;
  align-items: center;
}

.M_20 {
  background-color: #e7e6e0;
}

.M_10 {
  background-color: #bfa88f;
}

.M_90 {
  background-color: #8a7967;
}

.M_80 {
  background-color: #5e5346;
}

.M_60 {
  background-color: #332d26;
}

.M_Card {
  cursor: pointer;
  border-radius: 0.208vw;
  display: flex;
  width: 12.083vw;
  height: 14.028vw;
  padding: 1.042vw 1.111vw 1.25vw 1.111vw;
  flex-direction: column;
  justify-content: space-between;
}

.M_guideColorsSection5 {
  display: flex;
  flex-direction: column;
  gap: 1.736vw;
}

.M_guideAllTextSection5 {
  display: flex;
  flex-direction: column;
  gap: 1.528vw;
}

.M_guideImagesSection6 {
  position: relative;
  display: flex;
  align-items: center;
}

.M_logoInfoMain {
  display: flex;
  gap: 2.569vw;
}

.M_socLinksFooter {
  display: flex;
  flex-direction: column;
  gap: 0.649vw;
}

.M_linksInputHeader {
  display: flex;
  align-items: center;
  gap: 2.986vw;
}

.M_bigCardMain {
  display: flex;
  width: 91.667vw;
  height: 15.278vw;
  padding-left: 2.778vw;
  gap: 13.681vw;
  border-radius: 0.347vw;
  background: #e4e3df;
  box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.M_LongCardMain {
  display: flex;
  width: 22.569vw;
  height: 30.903vw;
  flex-direction: column;
  gap: 2.153vw;
  border-radius: 0.347vw;
  background: #e7e6e0;
  box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.M_middle2CardMain {
  overflow: hidden;
  display: flex;
  width: 54.514vw;
  height: 31.944vw;
  gap: 2.986vw;
  border-radius: 0.347vw;
  background: #e4e3df;
  box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
  margin-right: 1.389vw;
}

.M_middleCardMainTests {
  float: left;
  display: flex;
  margin-bottom: 1.389vw;
  width: 38.403vw;
  height: 15.278vw;
  gap: 2.917vw;
  border-radius: 0.347vw;
  background: #e4e3df;
  box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.M_cardSearch {
  overflow: hidden;
  display: flex;
  gap: 3.542vw;
  width: 94.444vw;
  height: 13.333vw;
  align-items: center;
  border-radius: 0.347vw;
  background: #e7e6e0;
  box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
}

.M_middleCardTests {
  display: flex;
  width: 30.486vw;
  height: 16.319vw;
  padding-right: 0vw;
  justify-content: center;
  align-items: center;
  gap: 2.037vw;
  overflow: hidden;
  border-radius: 0.255vw;
  background: #e4e3df;
  box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
}

.M_middle2CardTests {
  border-radius: 0.39vw;
  background: #e4e3df;
  box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 3.477vw;
  padding-right: 5.858vw;
}

.M_NamesFooter {
  display: flex;
  flex-direction: column;
  gap: 0.694vw;
}

.M_guideCardsSection7 {
  width: 70.764vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 31.25vw 29.375vw 30.139vw;
  gap: 1.736vw;
  align-items: center;
}

@media all and (min-width: 913px) and (max-width: 1280px) {
  .M_allTextSection4Tablet {
    display: flex;
    gap: 8.255vw;
  }
  .M_LongCardMain {
    width: 22.188vw;
    height: 34.766vw;
    gap: 2.153vw;
    border-radius: 0.347vw;
    box-shadow: 0vw 0.156vw 0.312vw 0vw rgba(0, 0, 0, 0.15);
  }
  .M_textPicturesSection4Tablet {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.406vw;
  }
  .M_textPictureSection5F {
    gap: 3.598vw;
  }
  .M_textPictureSection5 {
    padding: 0;
  }
  .M_pictureTextSection3 {
    padding: 0;
    gap: 8.125vw;
  }
}

@media all and (max-width: 912px) {
  .M_Menu {
    width: calc(100% - 11.389vw);
    padding: 5vw 5.556vw 0 5.833vw;
  }
  .M_logoInfoMain {
    display: flex;
    gap: 4.917vw;
    flex-direction: column;
  }
  .M_textPicturesSection4Mobile {
    display: flex;
    flex-direction: column;
    gap: 2.203vw;
  }
  .M_informationSection6 {
    gap: 7.222vw;
  }
  .M_socLinksFooter {
    gap: 1.508vw;
  }
  .M_LongCardMain {
    width: 42.854vw;
    height: 67.148vw;
    gap: 4.528vw;
    border-radius: 0.754vw;
    box-shadow: 0vw 0.339vw 0.678vw 0vw rgba(0, 0, 0, 0.15);
  }
  .M_NamesFooter {
    gap: 1.614vw;
  }
  .M_textPictureSection5 {
    gap: 13.611vw;
    width: 85.833vw;
    padding: 0;
    flex-direction: column;
  }
  .M_allPicturesAboutMobile {
    display: grid;
    position: relative;
    grid-template-columns: 39.444vw 39.444vw;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9.656vw;
    grid-row-gap: 17.206vw;
  }
  .M_linksInputHeader {
    display: none;
  }
  .M_pictureTextSection3 {
    padding: 0;
    flex-direction: column;
    gap: 10.833vw;
  }
}
