.Q_aboutAcca {
  width: 21.528vw;
  color: #131313;
  text-align: center;
  font-size: 1.25vw;
  line-height: 105.092%;
}

.Q_Search {
  width: 0.972vw;
  height: 0.972vw;
}

.Q_SearchHeader {
  width: 1.092vw;
  height: 1.092vw;
}

.Q_subTagNewMain {
  color: #888;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.111vw;
  line-height: 105.092%;
}

.Q_tagTestsText {
  color: #000;
  text-align: center;
  font-family: 'PP Radio Grotesk';
  font-size: 1.404vw;
  line-height: 105.092%;
}

.Q_filterType {
  font-size: 1.25vw;
}

.Q_Icon {
  width: 1.25vw;
  height: 0.583vw;
  flex-shrink: 0;
  margin-top: 0.447vw;
}

.Q_textSection {
  font-size: 2.016vw;
  border: 0.069vw solid var(--black);
  padding: 1.066vw 1.627vw;
  border-radius: 1.05vw;
}

@media all and (min-width: 913px) and (max-width: 1280px) {
  .Q_filterType {
    font-size: 1.406vw;
  }

  .Q_Icon {
    width: 1.328vw;
    height: 0.578vw;
    margin-top: 0.247vw;
  }
}

@media screen and (max-width: 912px) {
  .Q_filterType {
    font-size: 3.714vw;
  }
  .Q_Icon {
    width: 1.944vw;
    height: auto;
    margin-top: 0.447vw;
  }
}
