body {
    // padding: 30px 40px 0;
    background: #F4F3EF;
    font-family: "PP Radio Grotesk";
    overflow-x: hidden;
    

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 30px;
    height: min-content;

    .menu-logo {
        width: 3vw;

        img {
            width: 100%;
        }
    }

    .about-us {
        padding: 7px 20px;
        border: 1px solid var(--black);
        border-radius: 20px;
        background-color: var(--white);
    }
}


.hero {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
    padding: 0 30px;

    .hero-background {
        width: 100%;
        display: flex;
        align-items: center;
        .hero-img-10 {
            width: 100%
        }
    }

    .title {
        width: 45%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .kulek-img {
            width: 45vw;
            margin-bottom: 5vw;
            img {
                width: 100%;
            }
        }


        .title-par {
            font-size: 1.5vw;
            width: 60%;
            padding: 15px 25px;
            border: 1.5px solid var(--black);
            border-radius: 30px;
            background-color: var(--white);
            align-self: center;
            margin-top: -3vw;
            p {
                text-align: center;
                line-height: 1.25;
            }
            
        }
    }
}

.about-movie {
    padding: 0 30px;
    margin-bottom: 5vw;
    h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
    }
    .movie-desc {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        
        .movie-text {
            width: 50%;
            h4 {
                font-size: 2vw;
                line-height: 1.25;
                margin-bottom: 1vw;
            }

            p {
                font-size: 1.5vw;
                line-height: 1.25;
                margin-bottom: 1.5vw;
                margin-left: 5vw;
            }
        }

        .movie-img {
            width: 40%;
            img {
                width: 100%;
            }
        }
    }
}

.what-about {
    padding: 0 30px;
    margin-bottom: 5vw;
    h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .what-text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 2vw;
        p {
            font-size: 1.5vw;
            line-height: 1.25;
            width: 45%;
        }
    }

    .what-imgs {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .what-img {
            width: 22%;
            img {
                width: 100%;
                margin-bottom: .75vw;
            }

            p {
                font-size: 1.5vw;
            }
        }
    }
}

.sense {
    padding: 0 30px;
    margin-bottom: 5vw;
    h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .sense-desc {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        .sense-img {
            width: 40%;
            img {
                width: 100%;
                margin-bottom: 1vw;
            }
            
            p {
                font-size: 1.5vw;
            }
        }

        .sense-text {
            width: 50%;
            p {
                font-size: 1.5vw;
                line-height: 1.25;
                margin-bottom: 1vw;
            }
        }
    }
}

.frames {
    padding: 0 30px;
    margin-bottom: 5vw;
    h1 {
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    .frames-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 60px;
        .frame-cell {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 0vw;

            p {
                width: 15%;
                text-align: center;
                font-size: 1.5vw;
            }

            .frame-img {
                width: 85%;
                img {
                    width: 100%;
                    margin-bottom: 1vw;
                }

                p {
                    width: 100%;
                    text-align: start;
                    font-size: 1.5vw;
                }
            }
        }

        .align-top {
            margin-top: 7vw;
        }
    }
}


.end {
    padding: 0 30px;
    margin-bottom: 5vw;
    h1 {
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    .end-desc {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;

        .end-text {
            width: 45%;
            p {
                font-size: 1.5vw;
                margin-bottom: 1vw;
                line-height: 1.25;
            }
        }

        .end-img {
            width: 40%;
            img {
                width: 100%;
                margin-bottom: 1vw;
            }

            .end-img-sub {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                p {
                    font-size: 1.5vw;
                    line-height: 1.25;
                }
            }
        }
    }
}

footer {
    background-color: #E7E6E0;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
    padding: 30px 30px;

    .creators {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-size: .95vw;
        margin-top: .25vw;
        line-height: 1.25;
    }

    .footer-title {
        font-size: 1.5vw;
        margin-bottom: .75vw;
        margin-top: 0;
    }

    .socials {

        .social-contacts {
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

            img {
                width: 2vw;
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 30px;
        height: min-content;
    
        .menu-logo {
            width: 3vw;
    
            img {
                width: 100%;
            }
        }
    
        .about-us {
            padding: 7px 20px;
            border: 1px solid var(--black);
            border-radius: 20px;
            background-color: var(--white);
        }
    }

    .hero {

        .hero-background {
            width: 120vw;

            .hero-img-10 {
                width: 100%;
            }
        }
    
        .title {
            width: 60%;
            margin-top: 4vw;
            .kulek-img {
                width: 75vw;
                img {
                    width: 100%;
                }
            }
    
            h3 {
                    align-self: flex-start;
                    font-size: 5vw;
                    margin-bottom: -8vw;
                    
            }
    
            .title-par {
                width: 100%;
                font-size: 4vw;
                padding: 10px 15px;
                border: 1px solid var(--black);
                align-self: center;
                margin-top: 0;
                p {
                    text-align: center;
                    width: 100%;
                }
                
            }
        }

    
    }

    .about-movie {
        padding: 0 30px;
        margin-bottom: 5vw;
        h1 {
            font-size: 10vw;
            margin-bottom: 2vw;
        }
        .movie-desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
    
            
            .movie-text {
                width: 100%;
                h4 {
                    font-size: 4vw;
                    line-height: 1.25;
                    margin-bottom: 1vw;
                }
    
                p {
                    font-size: 4vw;
                    line-height: 1.25;
                    margin-bottom: 5vw;
                    margin-left: 5vw;
                }
            }
    
            .movie-img {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }

    .what-about {
        padding: 0 30px;
        margin-bottom: 5vw;
        h1 {
            font-size: 10vw;
            margin-bottom: 2vw;
        }
    
        .what-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin-bottom: 2vw;
            p {
                font-size: 4vw;
                line-height: 1.25;
                width: 100%;
            }
        }
    
        .what-imgs {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
    
            .what-img {
                width: 100%;
                margin-bottom: 5vw;
                img {
                    width: 100%;
                    
                }
    
                p {
                    font-size: 4vw;
                    margin-bottom: 2vw;
                    
                }
            }
        }
    }

    .sense {
        padding: 0 30px;
        margin-bottom: 5vw;
        h1 {
            font-size: 10vw;
            margin-bottom: 2vw;
        }
    
        .sense-desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            .sense-img {
                width: 100%;
                img {
                    width: 100%;
                    margin-bottom: 1vw;
                }
                
                p {
                    font-size: 4vw;
                }
            }
    
            .sense-text {
                width: 100%;
                p {
                    font-size: 4vw;
                    line-height: 1.25;
                    margin-bottom: 1vw;
                }
            }
        }
    }

    .frames {
        padding: 0 30px;
        margin-bottom: 5vw;
        h1 {
            font-size: 10vw;
            margin-bottom: 5vw;
        }
    
        .frames-grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 15px;
            .frame-cell {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                margin-top: 0vw;
                margin-bottom: 5vw;
    
                p {
                    width: 100%;
                    text-align: left;
                    font-size: 4vw;
                }
    
                .frame-img {
                    width: 85%;
                    img {
                        width: 100%;
                        margin-bottom: 1vw;
                    }
    
                    p {
                        width: 100%;
                        text-align: start;
                        font-size: 4vw;
                    }
                }
            }
    
            .align-top {
                margin-top: 0vw;
            }
        }
    }

    .end {
        padding: 0 30px;
        margin-bottom: 10vw;
        h1 {
            font-size: 10vw;
            margin-bottom: 5vw;
        }
    
        .end-desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
    
            .end-text {
                width: 100%;
                p {
                    font-size: 4vw;
                    margin-bottom: 5vw;
                    line-height: 1.25;
                }
            }
    
            .end-img {
                width: 100%;
                img {
                    width: 100%;
                    margin-bottom: 1vw;
                }
    
                .end-img-sub {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    p {
                        font-size: 4vw;
                        line-height: 1.25;
                    }
                }
            }
        }
    }
}