// body.article {
//     background-color: var(--white);
//     article {
//         width: 600px;
//         margin: 0 auto;
//         h1, h2, h3 {
//             font-weight: 700;
//         }
//         h1 {
//             font-size: 48px;
//         }
//     }
//         font-family: "PP Radio Grotesk";
        
// }

h1 {
    font-size: 96px;
    line-height: 68.5%
}
h2 {
    font-size: 48px;
    line-height: 95%;
    margin-top: -50px;
}
.lead {
    font-size: 30px;
    font-style: italic;
    line-height: 40px;
}
.paragraph{
    font-size: 18px;
    line-height: 24px;
}


a {
    text-decoration: none;
    color: black;
}

.header2 {
    position: relative;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 23.5px;
    margin-bottom: 23.5px;
}

.logo {
    width: 88px;
    height: 38px;
}

.aboutbutton {
    background-color: none;
    border: 1.2px solid black;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
}

.content {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    // margin-bottom: 58px;
    background-color: #94A7FF;
    height: 605px;
    border-radius: 5px;
    overflow: hidden;
}

.pictures {
    position: absolute;
}

#texture {
    z-index: 0;
    width: 1359px;
    height: 605px;

}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine {
    z-index: 2;
}

#ten {
    z-index: 3;
}

#one {
    width: 492px;
    height: 492px;
    top: 15px;
    left: 34px;
}

#two {
    width: 372px;
    height: 372px;
    top: -103px;
    left: 240px;
}

#three {
    width: 557px;
    height: 557px;
    top: -253px;
    left: 534px;
}

#four {
    width: 387px;
    height: 387px;
    top: -105px;
    left: 913px;
}

#five {
    width: 419px;
    height: 419px;
    top: 103px;
    left: 1006px;
}

#six {
    width: 549px;
    height: 549px;
    top: 344px;
    left: 753px;
}

#seven {
    width: 608px;
    height: 608px;
    top: 260px;
    left: 436px;
}

#eight {
    width: 566px;
    height: 566px;
    top: 197px;
    left: 61px;
}

#nine {
    width: 383px;
    height: 383px;
    top: 215px;
    left: -61px;
}

#ten {
    width: 751px;
    height: 208px;
    top: 139px;
    left: 312px;
}

.description {
    position: absolute;
    background-color: #ffffff;
    border: 1.2px solid black;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    z-index: 4;
    border-radius: 20px;
    top: 340px;
    left: 567px;
}

// второй экран
.content2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-bottom: 72px;
    margin-top: 58px;
    height: 652px;
    
}
.leftcontent2 {
    margin-top: 44px;
    
}
#lead1 {
    margin-top: 31px;
}
#p1 {
    margin-top: 35px;
    margin-left: 110px;
}
.pc {
    position: absolute;
   width: 684px;
   height: 652px;
    left: 785px;
}

// третий экран
.content3 {
    position: relative;
    margin-left: 40px;
    margin-bottom: 4px;
    height: 962px;
}
#lead2 {
    margin-top: 32px;
}
#item1 {
    width: 490px;
    height: 550px;
    top:310px;
    left: -2px;
    z-index: 1;
}
#item2 {
    width: 849px;
    height: 920px;
    top: 56px;
    left: 243px;
    z-index: 2;
}
#item3 {
    width: 944px;
    height: 806px;
    top: -13px;
    left: 466px;
    z-index: 1;
}
#info {
    position: absolute;
    border: 1.2px solid black;
    padding-top: 34px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 34px;
    background-color: #ffffff;
    z-index: 4;
    border-radius: 16px;
    
}
#infop {
    margin-top: 15px;
}
.info1 {
    top: 255px;
    left: 110px;
}
.info2 {
    top: 389px;
    left: 464px;
}
.info3 {
    top: 137px;
    left: 689px;
}
.info4 {
    top: 493px;
    left: 946px;
}

// четвертый экран
.content4 {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    height: 962px;
}
#lead3 {
    margin-top: 35px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
#textik {
    margin-top: 15px;
}
// пятый экран
.content5 {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    height: 677px;
    margin-top: 38px;
    overflow: hidden;
   
}
.phone1, .phone2, .phone3, .know {
    position: absolute;
    
}

.phone1 {
    width: 460px;
    height: 705px;
    top: 140px;
    left: 40px;
    z-index: 2;
}
.phone2 {
    width: 659px;
    height: 538px;
    top: 194px;
    left: 327px;
    z-index: 1;
}
.phone3 {
    width: 696px;
    height: 827px;
    top: 140px;
    left: 529px;
    z-index: 2;
}

.know {
    width: 587px;
    height: 151px;
    top: 292px;
    left: 347px;
    z-index: 3;
}
// стили формы
#my-form-2 {
    position: absolute;
    top: 463px;
    left: 409px;
    z-index: 5;

}

#my-form-button {
    background-color: black;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
}

#input {
    color: #4C4C4C;
    padding-top: 6px;
    padding-left: 15px;
    padding-bottom: 6px;
    border: 1.2px solid black;
    width: 283px;
    font-size: 18px;
    border-radius: 20px;


}
.footer-2 {
    position: relative;
    height: 101px;
    display: flex;
    justify-content: space-between;
    // margin-left: 38px;
    // margin-right: 38px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fon {
    position: absolute;
    opacity: 25%;
    z-index: 0;
    top: 0px;
}