body.S_Dictionary {
  background: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .M_pageTitle {
    .A_backgroundTitle {
      top: 0;
      left: 0;
      position: absolute;
    }

    .A_Header {
      left: 17.64vw;
      top: 19.792vw;
      position: absolute;
    }
  }

  .O_Words {
    .M_searchYear {
      margin-bottom: 3.403vw;
      .C_searchParameters {
        margin-bottom: 0.972vw;

        .A_Input {
          > input {
            position: absolute;
            top: 0;
          }

          .Q_Search {
            position: absolute;
            top: 0.59vw;
            right: 0.729vw;
          }
        }
      }

      .C_exectTime {
        margin-bottom: 0.972vw;
      }
    }

    .words-grid {
      display: grid;
      grid-template-columns:
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
        minmax(0, 1fr);
      grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      gap: 1.042vw;
      .words-cell {
        padding: 1.042vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color: var(--black);
        color: var(--white);
        border-radius: 0.347vw;
        .words-header {
          display: block;

          p {
            width: 35%;
            border: 0.069vw solid var(--white);
            border-radius: 3.472vw;
            padding: 0.486vw 0.347vw;
            text-align: center;
            line-height: 1.25;
            margin-bottom: 1vw;
          }

          h4 {
            font-size: 3vw;
            line-height: 1.25;
            margin-bottom: 3vw;
          }
        }

        p {
          font-size: 1.5vw;
          line-height: 1.25;
          width: 100%;
        }
      }
    }
  }
  .O_Footer {
    .W_footerContent {
      margin-left: 2.847vw;
    }
  }

  @media screen and (max-width: 480px) {
    .hero {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 30px;

      .hero-background {
        width: 100vw;
        display: flex;
        .hero-img-10 {
          width: 100%;
        }
      }

      .title {
        width: 45%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .dict-img {
          width: 80vw;
          margin-bottom: 5vw;
          img {
            width: 100%;
          }
        }
      }
    }

    .words {
      padding: 0 30px;
      overflow-x: hidden;

      .slider {
        margin-bottom: 2vw;
        .slider-search {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 1vw;

          #search {
            border: 1px solid var(--black);
            border-radius: 50px;
            padding: 7px 10px;
            background-color: #f4f3ef;
          }
        }

        #range {
          width: 100%;
          -webkit-appearance: none;
          appearance: none;
          width: 100%;
          cursor: pointer;
          outline: none;
          border-radius: 15px;
          height: 30px;
          background: linear-gradient(270deg, #e7e6e0 -0.04%, #332d26 99.83%);
          margin-bottom: 1vw;
        }

        #range::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          height: 30px;
          width: 30px;
          background-color: none;
          border-radius: 50%;
          border: 1px solid var(--black);
          transition: 0.2s ease-in-out;
        }

        .years {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      .words-grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 15px;
        margin-top: 5vw;
        width: 100%;
        .words-cell {
          padding: 15px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          background-color: var(--black);
          color: var(--white);
          border-radius: 5px;
          .words-header {
            display: block;

            p {
              width: 100%;
              border: 1px solid var(--white);
              border-radius: 50px;
              padding: 7px 5px;
              text-align: center;
              line-height: 1.25;
              margin-bottom: 1vw;
            }

            h4 {
              font-size: 6vw;
              line-height: 1.25;
              margin-bottom: 3vw;
            }
          }

          p {
            font-size: 4vw;
            line-height: 1.25;
          }
        }
      }
    }
  }
}
