body.S_Dictionary {
  background: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .A_Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background: rgba(184, 183, 179, 0.46);
    backdrop-filter: blur(0.232vw);
    z-index: 1000;
  }

  .O_cradDescription {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: flex;
    width: 33.472vw;
    padding: 2.292vw 3.125vw;
    align-items: center;
    gap: 2.153vw;
    border-radius: 0.888vw;
    background: #f9f8f7;
    box-shadow: 0vw 0.278vw 0.278vw 0vw rgba(0, 0, 0, 0.25);
    display: none;

    .M_mainPlot {
      .C_headerName {
        .A_cardTitle {
          hyphens: auto;
        }
      }
    }
  }

  .M_pageTitle {
    .A_backgroundTitle {
      top: 0;
      left: 0;
      position: absolute;
    }

    .A_Header {
      left: 17.64vw;
      top: 19.792vw;
      position: absolute;
    }
  }

  .O_Words {
    margin-bottom: 8.351vw;
    .M_searchYear {
      margin-bottom: 3.403vw;
      .C_searchParameters {
        margin-bottom: 0.972vw;

        .A_Input {
          > input {
            position: absolute;
            top: 0;
          }

          .Q_Search {
            position: absolute;
            top: 0.59vw;
            right: 0.729vw;
          }
        }
      }

      .C_exectTime {
        margin-bottom: 0.972vw;
      }
    }

    .words-grid {
      display: grid;
      grid-template-columns:
        minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
        minmax(0, 1fr);
      grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      gap: 1.042vw;
      .words-cell {
        padding: 1.042vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color: var(--black);
        color: var(--white);
        border-radius: 0.347vw;
        .words-header {
          display: block;

          p {
            width: 35%;
            border: 0.069vw solid var(--white);
            border-radius: 3.472vw;
            padding: 0.486vw 0.347vw;
            text-align: center;
            line-height: 1.25;
            margin-bottom: 1vw;
          }

          h4 {
            font-size: 3vw;
            line-height: 1.25;
            margin-bottom: 3vw;
          }
        }

        p {
          font-size: 1.5vw;
          line-height: 1.25;
          width: 100%;
        }
      }
    }
  }
}
