html {
  // overflow-x: hidden;
}

body {
  background: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;
}

.M_Menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.944vw 2.778vw 0 2.778vw;

  .A_Logo {
    width: 2.326vw;

    img {
      width: 100%;
    }
  }

  .A_buttonAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.521vw 1.354vw;
    border: 0.104vw solid var(--black);
    border-radius: 1.389vw;
    background-color: var(--white);

    > p {
      font-size: 1.313vw;
    }
  }
}

.O_firstSection {
  margin-top: -5.201vw;
  height: 35.683vw;
  position: relative;
  padding-top: 24.722vw;

  .M_titleFashion90 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1.538vw;
    z-index: 2;

    .A_titleFashion90 {
      width: 62.879vw;
      height: 11.795vw;
    }
    .A_aboutPage {
      display: flex;
      width: 21.528vw;
      padding: 1.285vw 1.91vw 1.285vw 1.979vw;
      justify-content: center;
      align-items: center;
      border-radius: 1.319vw;
      border: 0.104vw solid #131313;
      background: #fff;

      > p {
        width: 21.528vw;
        color: #131313;
        text-align: center;
        font-size: 1.25vw;
        line-height: 105.092%;
      }
    }
  }

  .A_lineFashion90 {
    width: 90vw;
    height: 48.958vw;
    top: 10.25vw;
    left: 5.022vw;
    position: absolute;
  }

  .A_pictureFashion1 {
    width: 26.601vw;
    height: 26.601vw;
    top: 0;
    left: 2.222vw;
    position: absolute;
  }

  .A_pictureFashion2 {
    width: 16.756vw;
    height: 16.756vw;
    top: 5.883vw;
    left: 41.76vw;
    position: absolute;
  }

  .A_pictureFashion3 {
    width: 11.013vw;
    height: 11.013vw;
    top: 13.643vw;
    right: 20.058vw;
    position: absolute;
  }

  .A_pictureFashion4 {
    width: 11.389vw;
    height: 10.486vw;
    top: 38.097vw;
    left: 2.592vw;
    position: absolute;
  }

  .A_pictureFashion5 {
    width: 15.717vw;
    height: 20.641vw;
    top: 39.764vw;
    left: 17.731vw;
    position: absolute;
  }

  .A_pictureFashion6 {
    width: 14.444vw;
    height: 14.444vw;
    top: 44.764vw;
    right: 28.311vw;
    position: absolute;
  }

  .A_pictureFashion7 {
    width: 15.139vw;
    height: 16.667vw;
    top: 36.986vw;
    right: 5.325vw;
    position: absolute;
  }
}

.O_secondSection {
  margin-top: 8.888vw;
  margin-left: 2.778vw;
  display: inline-flex;
  gap: 2.431vw;

  .M_allTextSection2 {
    display: flex;
    flex-direction: column;
    gap: 2.083vw;

    .W_titleSubtitle {
      display: flex;
      width: 39.583vw;
      flex-direction: column;
      gap: 2.083vw;

      > h1 {
        color: #000;
        font-size: 3.333vw;
        line-height: 95%;
      }

      > p {
        color: #000;
        font-size: 1.667vw;
        font-style: italic;
        line-height: 1.91vw;
        letter-spacing: -0.017vw;
      }
    }

    .W_textSection2 {
      display: flex;
      padding-left: 8.125vw;
      flex-direction: column;
      gap: 2.083vw;
      width: 36.458vw;

      > p {
        color: #000;
        font-size: 1.25vw;
        line-height: 1.667vw;
        letter-spacing: -0.013vw;
      }
    }
  }

  .M_pictureDescSection2 {
    position: relative;
    margin-left: 8.998vw;

    .A_lineSection2 {
      position: absolute;
      top: -11.862vw;
      left: -11.151vw;
      width: 52.761vw;
      height: 51.435vw;
      overflow: hidden;
      > img {
        height: 100%;
      }
    }

    .W_pictureDescSection2 {
      position: relative;
      z-index: 2;
      display: inline-flex;
      flex-direction: column;
      gap: 0.694vw;

      > img {
        width: 38.403vw;
        height: 32.014vw;
      }

      > p {
        color: #131313;
        font-size: 1.25vw;
        font-style: italic;
        line-height: 105.092%;
      }
    }
  }
}

.O_thirdSection {
  margin-top: 12.431vw;
  margin-left: 2.708vw;

  h1 {
    color: #000;
    font-size: 3.333vw;
    line-height: 95%;
    margin-bottom: 2.778vw;
  }

  .C_picturesAllSection3 {
    display: flex;
    gap: 1.389vw;
    margin-left: 8.056vw;

    .C_picturesSection3,
    .C_pictures2Section3,
    .C_pictures3Section3,
    .C_pictures5Section3,
    .C_pictures6Section3 {
      display: flex;
      flex-direction: column;

      .M_pictureDescSection3 {
        display: flex;
        flex-direction: column;
        gap: 0.694vw;

        > img {
          width: 14.654vw;
          height: 16.736vw;
        }

        > p {
          color: #000;
          font-size: 1.25vw;
          line-height: 105.092%;
        }
      }
    }

    .C_picturesSection3 {
      padding-top: 5.069vw;
      gap: 11.389vw;
    }

    .C_pictures2Section3 {
      gap: 11.25vw;
    }

    .C_pictures3Section3 {
      padding-top: 5.208vw;
      gap: 11.042vw;
    }

    .C_pictures5Section3 {
      gap: 10.903vw;
    }

    .C_pictures6Section3 {
      padding-top: 4.861vw;
      gap: 11.25vw;
    }
  }

  .M_textSection3 {
    margin-top: 3.472vw;
    margin-left: 8.056vw;
    display: flex;
    gap: 12.917vw;

    > p {
      width: 35.069vw;
      color: #000;
      font-size: 1.25vw;
      line-height: 1.667vw;
      letter-spacing: -0.013vw;
    }
  }
}

.O_fourthSection {
  position: relative;
  margin-left: 2.708vw;
  margin-top: 9.31vw;
  display: flex;
  flex-direction: column;

  .W_titleSubtitle {
    margin-bottom: 2.083vw;

    h1 {
      color: #000;
      font-size: 3.333vw;
      line-height: 95%;
      margin-bottom: 2.083vw;
    }

    p {
      width: 39.583vw;
      color: #000;
      font-size: 1.667vw;
      font-style: italic;
      line-height: 1.91vw;
      letter-spacing: -0.017vw;
    }
  }

  .A_lineSection4 {
    top: -23.333vw;
    left: -20.833vw;
    position: absolute;
    overflow: hidden;
    > img {
      width: 136.066vw;
      height: 117.193vw;
    }
  }

  .M_textPicturesSection4 {
    position: relative;
    z-index: 2;
    display: flex;
    padding-left: 8.056vw;
    flex-direction: column;
    gap: 1.458vw;

    .W_textPicturesSection4 {
      display: flex;
      gap: 4.028vw;

      > p {
        width: 27.917vw;
        color: #000;
        font-size: 1.25vw;
        line-height: 1.667vw;
        letter-spacing: -0.013vw;
      }

      .W_pucturesSection4 {
        display: flex;
        gap: 1.389vw;

        > img {
          width: 30.486vw;
          height: 22.639vw;
        }

        .W_pictures1Section4 {
          display: flex;
          flex-direction: column;
          gap: 1.389vw;

          &:nth-child(1) {
            width: 14.583vw;
            height: 8.289vw;
          }
        }
      }
    }

    .W_pictureSection4 {
      display: flex;
      gap: 1.458vw;
      .W_picturesSection4 {
        display: flex;
        flex-direction: column;
        gap: 1.25vw;
        .W_pictures3Section4 {
          display: flex;
          gap: 1.528vw;

          > img {
            width: 22.431vw;
            height: 12.75vw;
          }
        }
        > img {
          width: 46.389vw;
          height: 10vw;
        }
      }
      > img {
        width: 30.486vw;
        height: 24.028vw;
      }
    }
  }
}

.O_fifthSection {
  margin: 8.958vw 0 10.347vw 2.847vw;

  h1 {
    color: #000;
    font-size: 3.333vw;
    line-height: 95%;
    margin-bottom: 2.083vw;
  }

  .W_textsPicturesSection5 {
    display: flex;
    flex-direction: column;
    gap: 1.528vw;

    .M_textPictureSection5 {
      display: flex;
      gap: 9.722vw;

      .W_pictureDescSection5 {
        display: flex;
        flex-direction: column;
        gap: 0.694vw;

        > img {
          width: 30.139vw;
          height: 27.222vw;
        }

        > p {
          color: #131313;
          font-size: 1.25vw;
          font-style: italic;
          line-height: 105.092%;
        }
      }

      .W_textSection5 {
        display: flex;
        flex-direction: column;
        gap: 2.083vw;

        > p {
          color: #131313;
          font-size: 1.25vw;
          line-height: 1.667vw;
          width: 42.361vw;
          letter-spacing: -0.013vw;
        }
      }
    }

    .M_picturesSection5 {
      display: flex;
      gap: 1.528vw;

      .W_pictureDescSection5 {
        display: flex;
        flex-direction: column;
        gap: 0.694vw;

        > img {
          width: 30.417vw;
          height: 21.736vw;
        }

        > p {
          color: #131313;
          font-size: 1.25vw;
          font-style: italic;
          line-height: 105.092%;
        }
      }
    }
  }
}

.O_sixthSection {
  margin-left: 2.778vw;
  margin-bottom: 13.542vw;
  position: relative;

  .A_lineSection6 {
    position: absolute;
    top: 30.278vw;
    left: -4.167vw;
    width: 100vw;
    overflow: hidden;

    > img {
      width: 105.365vw;
      height: 29.597vw;
    }
  }

  .W_allInformationSection6 {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 8.958vw;

    .M_informationSection6 {
      display: flex;
      flex-direction: column;
      gap: 2.361vw;

      .W_titleSubtitle {
        width: 46.944vw;
        > h1 {
          color: #000;
          font-size: 3.333vw;
          line-height: 95%;
        }

        > p {
          margin-top: 2.292vw;
          color: #000;
          font-size: 1.667vw;
          font-style: italic;
          line-height: 1.91vw;
          letter-spacing: -0.017vw;
        }
      }

      > img {
        width: 46.944vw;
        height: 29.731vw;
      }
    }

    .W_textSection6 {
      display: flex;
      width: 36.667vw;
      padding-top: 15.278vw;
      flex-direction: column;
      gap: 2.083vw;

      > p {
        color: #000;
        font-size: 1.25vw;
        line-height: 1.667vw;
        letter-spacing: -0.013vw;
      }
    }
  }
}

.O_Footer {
  display: flex;
  width: 100%;
  height: 5.972vw;
  padding: 2.847vw 0 2.569vw 0;
  flex-direction: column;
  gap: 0.694vw;
  background: #e7e6e0;

  .W_footerContent {
    margin-left: 2.847vw;
    display: flex;
    gap: 61.458vw;

    .M_socialNetworks {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.931vw;

      > h1 {
        color: #000;
        font-size: 1.167vw;
        line-height: 95.092%;
        letter-spacing: -0.012vw;
      }

      .C_allLinks {
        display: flex;
        flex-direction: column;
        gap: 0.584vw;

        .W_linkInstagram,
        .W_linkTelegram {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.486vw;

          > img {
            width: 1.02vw;
            height: 1.02vw;
          }

          > p {
            color: #000;
            font-size: 0.875vw;
            line-height: 95.092%;
            letter-spacing: -0.009vw;
          }
        }
      }
    }

    .W_rightFooter {
      display: flex;
      gap: 5.417vw;

      .M_footerSection,
      .M_socialNetworks {
        display: flex;
        flex-direction: column;
        gap: 1.146vw;

        > h1 {
          color: #000;
          font-size: 1.167vw;
          line-height: 95.092%;
          letter-spacing: -0.012vw;
        }

        .C_Creators {
          display: flex;
          flex-direction: column;
          gap: 0.694vw;

          > p {
            color: #000;
            font-size: 0.875vw;
            line-height: 95.092%;
            letter-spacing: -0.009vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    .menu-logo {
      width: 10vw;
      height: 10vw;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    .about-us {
      padding: 7px 20px;
      border: 1px solid var(--black);
      border-radius: 20px;
      background-color: var(--white);
    }
  }

  .hero {
    .hero-background {
      width: 120vw;

      .hero-img-10 {
        width: 100%;
      }
    }

    .title {
      width: 60%;
      margin-top: -0.278vw;
      .kulek-img {
        width: 75vw;
        img {
          width: 100%;
        }
      }

      h3 {
        align-self: flex-start;
        font-size: 5vw;
        margin-bottom: -8vw;
      }

      .title-par {
        width: 100%;
        font-size: 4vw;
        padding: 10px 15px;
        border: 1px solid var(--black);
        align-self: center;
        margin-top: 0;
        p {
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .fashion {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    .fashion-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      h1 {
        font-size: 10vw;
      }

      p {
        font-size: 4vw;
        margin-top: 2vw;
        margin-left: 4vw;
        line-height: 1.25;
        margin-bottom: 2vw;
      }

      .subtitle {
        font-size: 6vw;
        margin-left: 0;
        font-style: italic;
      }
    }

    .fashion-img {
      width: 90vw;
      img {
        width: 100%;
      }
    }
  }

  .clothing {
    width: 100%;
    padding: 0 30px;
    overflow-x: hidden;
    margin-top: 5vw;
    margin-bottom: 5vw;

    h1 {
      font-size: 10vw;
    }
    .clothes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 15px;
      margin-bottom: 5vw;

      .cell {
        height: 100%;
        .cell-img {
          margin-top: 5vw;
          width: 40vw;
          img {
            width: 100%;
          }
        }

        .align-top {
          margin-top: 0;
        }
      }
    }

    .clothes-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      p {
        width: 80%;
        font-size: 4vw;
        line-height: 1.25;
        margin-right: 30px;
        margin-bottom: 2vw;
      }
    }
  }

  .acc {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vw;
    .acc-title {
      margin-bottom: 2vw;
      h1 {
        font-size: 10vw;
        margin-bottom: 1vw;
      }

      p {
        width: 90%;
        font-size: 4vw;
        line-height: 1.25;
        margin-right: 30px;
        font-style: italic;
      }
    }

    .acc-grid {
      width: 95%;

      .acc-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1vw;

        p {
          font-size: 4vw;
          width: 100%;
          line-height: 1.25;
        }

        img {
          width: 100%;
          margin-bottom: 2vw;
        }
      }

      .acc-pairs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .forty-five {
          width: 100%;
        }

        .fifty {
          width: 100%;
        }
      }
    }
  }

  .haircuts {
    padding: 0 30px;
    width: 100%;
    margin-bottom: 4vw;
    h1 {
      font-size: 10vw;
      margin-bottom: 2vw;
    }

    .hair-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 15px;
      align-items: end;

      .h-mob-span {
        grid-column: span 2;
      }
      .h-span-2 {
        grid-column: span 2;

        p {
          font-size: 4vw;
          width: 80%;
          margin-bottom: 1vw;
          line-height: 1.25;
        }
      }

      .hair-cell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
        width: 100%;

        img {
          width: 100%;
          margin-bottom: 1vw;
        }
      }
    }
  }

  .makeup {
    padding: 0 30px;
    margin-bottom: 5vw;
    .makeup-title {
      h1 {
        font-size: 10vw;
        margin-bottom: 2vw;
      }

      p {
        font-size: 4vw;
        width: 100%;
        margin-bottom: 1vw;
        line-height: 1.25;
      }
    }

    .makeup-desc {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .makeup-img {
        width: 100%;
        img {
          width: 100%;
          margin-bottom: 3vw;
        }
      }

      .makeup-text {
        width: 100%;

        p {
          margin-bottom: 1vw;
          margin-top: 2vw;
          font-size: 4vw;
          line-height: 1.25;
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: #e7e6e0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 30px;

    .creators {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex;
      justify-content: space-between;

      .contacts {
        margin-top: 15px;
      }
    }

    p {
      font-size: 4vw;
      margin-top: 0.25vw;
      line-height: 1.25;
    }

    .footer-title {
      font-size: 5vw;
      margin-bottom: 0.75vw;
      margin-top: 0;
    }

    .socials {
      margin-bottom: 30px;
      .social-contacts {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        img {
          width: 4vw;
          align-self: center;
        }
      }
    }
  }
}
