body.fashion {
  background: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .O_firstSectionFashion {
    margin-top: -5.201vw;

    .M_titleFashion90 {
      .A_aboutPage {
        > p {
          width: 21.528vw;
          color: #131313;
          text-align: center;
          font-size: 1.25vw;
          line-height: 105.092%;
        }
      }
    }

    .A_lineFashion90 {
      top: 10.25vw;
      left: 5.022vw;
      position: absolute;
    }

    .A_pictureFashion1 {
      top: 0;
      left: 2.222vw;
      position: absolute;
    }

    .A_pictureFashion2 {
      top: 5.883vw;
      left: 41.76vw;
      position: absolute;
    }

    .A_pictureFashion3 {
      top: 13.643vw;
      right: 20.058vw;
      position: absolute;
    }

    .A_pictureFashion4 {
      top: 38.097vw;
      left: 2.592vw;
      position: absolute;
    }

    .A_pictureFashion5 {
      top: 39.764vw;
      left: 17.731vw;
      position: absolute;
    }

    .A_pictureFashion6 {
      top: 44.764vw;
      right: 28.311vw;
      position: absolute;
    }

    .A_pictureFashion7 {
      top: 36.986vw;
      right: 5.325vw;
      position: absolute;
    }
  }

  .O_secondSectionFashion {
    margin-top: 8.888vw;
    margin-left: 2.778vw;

    .M_allTextSection2 {
      .W_titleSubtitleFashion {
        .A_sammary {
          margin-top: 2.083vw;
        }
      }
    }

    .M_pictureDescSection2 {
      position: relative;
      margin-left: 8.998vw;

      .A_lineSection2 {
        position: absolute;
        top: -11.862vw;
        left: -11.151vw;
      }
    }
  }

  .O_thirdSectionFashion {
    margin-top: 8.194vw;
    margin-left: 2.708vw;

    .A_titleName {
      margin-bottom: 2.778vw;
    }

    .C_picturesAllSection3 {
      margin-left: 8.056vw;
    }

    .M_textSection3 {
      margin-top: 3.472vw;
      margin-left: 8.056vw;

      .A_mainText {
        width: 35.069vw;
      }
    }
  }

  .O_fourthSectionFashion {
    margin-left: 2.708vw;
    margin-top: 9.31vw;

    .W_titleSubtitleFashion {
      margin-bottom: 2.083vw;

      .A_titleName {
        margin-bottom: 2.083vw;
      }
    }

    .A_lineSection4 {
      top: -23.333vw;
      left: -20.833vw;
      position: absolute;
    }

    .M_textPicturesSection4 {
      .W_textPicturesSection4 {
        .A_mainText {
          width: 27.917vw;
        }
      }
    }
  }

  .O_fifthSectionFashion {
    .A_titleName {
      margin-bottom: 2.083vw;
    }

    .W_textsPicturesSection5 {
      .M_textPictureSection5F {
        .W_textSection5Fashion {
          .A_mainText {
            width: 42.361vw;
          }
        }
      }
    }
  }

  .O_sixthSectionFashion {
    margin-left: 2.778vw;
    margin-bottom: 13.542vw;
    position: relative;

    .A_lineSection6 {
      position: absolute;
      top: 30.278vw;
      left: -4.167vw;
    }

    .W_allInformationSection6 {
      .M_informationSection6 {
        .W_titleSubtitleFashion {
          width: 46.528vw;
          .A_sammary {
            margin-top: 2.292vw;
          }
        }
      }
      .W_textSection6 {
        .A_mainText {
          width: 36.667vw;
        }
      }
    }
  }
  .O_Footer {
    .W_footerContent {
      margin-left: 2.847vw;
    }
  }
}

@media screen and (max-width: 480px) {
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    .menu-logo {
      width: 10vw;
      height: 10vw;

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    .about-us {
      padding: 7px 20px;
      border: 1px solid var(--black);
      border-radius: 20px;
      background-color: var(--white);
    }
  }

  .hero {
    .hero-background {
      width: 120vw;

      .hero-img-10 {
        width: 100%;
      }
    }

    .title {
      width: 60%;
      margin-top: -0.278vw;
      .kulek-img {
        width: 75vw;
        img {
          width: 100%;
        }
      }

      h3 {
        align-self: flex-start;
        font-size: 5vw;
        margin-bottom: -8vw;
      }

      .title-par {
        width: 100%;
        font-size: 4vw;
        padding: 10px 15px;
        border: 1px solid var(--black);
        align-self: center;
        margin-top: 0;
        p {
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .fashion {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    .fashion-desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      h1 {
        font-size: 10vw;
      }

      p {
        font-size: 4vw;
        margin-top: 2vw;
        margin-left: 4vw;
        line-height: 1.25;
        margin-bottom: 2vw;
      }

      .subtitle {
        font-size: 6vw;
        margin-left: 0;
        font-style: italic;
      }
    }

    .fashion-img {
      width: 90vw;
      img {
        width: 100%;
      }
    }
  }

  .clothing {
    width: 100%;
    padding: 0 30px;
    overflow-x: hidden;
    margin-top: 5vw;
    margin-bottom: 5vw;

    h1 {
      font-size: 10vw;
    }
    .clothes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 15px;
      margin-bottom: 5vw;

      .cell {
        height: 100%;
        .cell-img {
          margin-top: 5vw;
          width: 40vw;
          img {
            width: 100%;
          }
        }

        .align-top {
          margin-top: 0;
        }
      }
    }

    .clothes-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      p {
        width: 80%;
        font-size: 4vw;
        line-height: 1.25;
        margin-right: 30px;
        margin-bottom: 2vw;
      }
    }
  }

  .acc {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vw;
    .acc-title {
      margin-bottom: 2vw;
      h1 {
        font-size: 10vw;
        margin-bottom: 1vw;
      }

      p {
        width: 90%;
        font-size: 4vw;
        line-height: 1.25;
        margin-right: 30px;
        font-style: italic;
      }
    }

    .acc-grid {
      width: 95%;

      .acc-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1vw;

        p {
          font-size: 4vw;
          width: 100%;
          line-height: 1.25;
        }

        img {
          width: 100%;
          margin-bottom: 2vw;
        }
      }

      .acc-pairs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .forty-five {
          width: 100%;
        }

        .fifty {
          width: 100%;
        }
      }
    }
  }

  .haircuts {
    padding: 0 30px;
    width: 100%;
    margin-bottom: 4vw;
    h1 {
      font-size: 10vw;
      margin-bottom: 2vw;
    }

    .hair-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 15px;
      align-items: end;

      .h-mob-span {
        grid-column: span 2;
      }
      .h-span-2 {
        grid-column: span 2;

        p {
          font-size: 4vw;
          width: 80%;
          margin-bottom: 1vw;
          line-height: 1.25;
        }
      }

      .hair-cell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
        width: 100%;

        img {
          width: 100%;
          margin-bottom: 1vw;
        }
      }
    }
  }

  .makeup {
    padding: 0 30px;
    margin-bottom: 5vw;
    .makeup-title {
      h1 {
        font-size: 10vw;
        margin-bottom: 2vw;
      }

      p {
        font-size: 4vw;
        width: 100%;
        margin-bottom: 1vw;
        line-height: 1.25;
      }
    }

    .makeup-desc {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .makeup-img {
        width: 100%;
        img {
          width: 100%;
          margin-bottom: 3vw;
        }
      }

      .makeup-text {
        width: 100%;

        p {
          margin-bottom: 1vw;
          margin-top: 2vw;
          font-size: 4vw;
          line-height: 1.25;
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: #e7e6e0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 30px;

    .creators {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex;
      justify-content: space-between;

      .contacts {
        margin-top: 15px;
      }
    }

    p {
      font-size: 4vw;
      margin-top: 0.25vw;
      line-height: 1.25;
    }

    .footer-title {
      font-size: 5vw;
      margin-bottom: 0.75vw;
      margin-top: 0;
    }

    .socials {
      margin-bottom: 30px;
      .social-contacts {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        img {
          width: 4vw;
          align-self: center;
        }
      }
    }
  }
}
