body {
    // padding: 30px 40px 0;
    background: #F4F3EF;
    font-family: "PP Radio Grotesk";
    overflow-x: hidden;
    

}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    .logo {
        width: 1.5vw;

        & > img {
            width: 100%;
        }
    }

    .about-us {
        padding: 7px 20px;
        border: 1px solid var(--black);
        border-radius: 20px;
        background-color: var(--white);
    }
}


.hero {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    padding: 0 30px;

    .hero-background {
        width: 100%;
        display: flex;
        .hero-img-10 {
            width: 100%
        }
    }

    .title {
        width: 45%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .kulek-img {
            width: 65vw;
            margin-bottom: 5vw;
            img {
                width: 100%;
            }
        }


        .title-par {
            font-size: 1.5vw;
            width: 60%;
            padding: 15px 25px;
            border: 1.5px solid var(--black);
            border-radius: 30px;
            background-color: var(--white);
            align-self: center;
            margin-top: -3vw;
            p {
                text-align: center;
            }
            
        }
    }
}


.fashion {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    .fashion-desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 45vw;
        h1 {
            font-size: 3vw;
        }

        p {
            font-size: 1.5vw;
            margin-top: 2vw;
            margin-left: 4vw;
            line-height: 1.25;
        }

        .subtitle {
            font-size: 2vw;
            margin-left: 0;
            font-style: italic;
        }

    }

    .fashion-img {
        width: 37vw;
        img {
            width: 100%;
        }
    }
}


.clothing {
    width: 100%;
    padding: 0 30px;
    overflow-x: hidden;
    margin-top: 5vw;
    margin-bottom: 5vw;

    h1 {
        font-size: 3vw;
    }
    .clothes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;


        .cell {
            height: 30vw;
            .cell-img {
                margin-top: 5vw;
                width: 15vw;
                img {
                    width: 100%;
                }
            }

            .align-top {
                margin-top: 0;
            }
        }
    }

    .clothes-desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        p {
            width: 45%;
            font-size: 1.5vw;
            line-height: 1.25;
            margin-right: 30px;
        }
    }
}

.acc {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vw;
    .acc-title {
        margin-bottom: 2vw;
        h1 {
            font-size: 3vw;
            margin-bottom: 1vw;
        }

        p {
            width: 50%;
            font-size: 2vw;
            line-height: 1.25;
            margin-right: 30px;
            font-style: italic;
        }
    }

    .acc-grid {
        width: 95%;
        // display: grid;
        // grid-template-columns: repeat(8, 1fr);
        // grid-template-rows: repeat(4, 1fr);
        // gap: 15px;

        // .acc-cell {
        //     width: 100%;
        //     img {
        //         width: 100%;
        //     }
        // }

        // .row-span {
        //     grid-row: span 2;
        // }

        // .span-3 {
        //     width: 100%;
        //     grid-column: span 3;
        // }
        // .span-2 {
        //     width: 100%;
        //     grid-column: span 2;
        // }

        .acc-text {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1vw;

            p {
                font-size: 1.5vw;
                width: 45%;
                line-height: 1.25;
            }

            img {
                width: 50%;
            }
        }

        .acc-pairs {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;

            .forty-five {
                width: 52%;
            }

            .fifty {
                width: 46%;
            }
        }
    }
}

.haircuts {
    padding: 0 30px;
    width: 100%;
    h1 {
        font-size: 3vw;
        margin-bottom: 2vw;
    }

    .hair-grid {
        display: grid;
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        .h-span-2 {
            grid-column: span 2;

            p {
                font-size: 1.5vw;
                width: 80%;
                margin-bottom: 1vw;
                line-height: 1.25;
            }
        }

        .hair-cell {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // justify-content: space-between;
            width: 100%;

            img {
                width: 100%;
                margin-bottom: 1vw;
            }
        }
    }
}


.makeup {
    padding: 0 30px;
    margin-bottom: 5vw;
    .makeup-title {
        h1 {
            font-size: 3vw;
            margin-bottom: 2vw;
        }

        p {
            font-size: 2vw;
            width: 80%;
            margin-bottom: 1vw;
            line-height: 1.25;
        }
    }

    .makeup-desc {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        .makeup-img {
            width: 50%;
            img {
                width: 100%;
                margin-bottom: 1vw;
            }
        }

        .makeup-text {
            width: 45%;

            p {
                margin-bottom: 1vw;
                font-size: 1.5vw;
                line-height: 1.25;
            }
        }
    }
}


footer {
    background-color: #E7E6E0;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
    padding: 30px 30px;

    .creators {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-size: .95vw;
        margin-top: .25vw;
        line-height: 1.25;
    }

    .footer-title {
        font-size: 1.5vw;
        margin-bottom: .75vw;
        margin-top: 0;
    }

    .socials {

        .social-contacts {
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

            img {
                width: 2vw;
            }
        }
    }
}