@font-face {
  font-family: 'PP Radio Grotesk';
  src: url('fonts/PPRadioGrotesk-Regular.otf');
}

@font-face {
  font-family: 'PP Radio Grotesk Black';
  src: url('fonts/PPRadioGrotesk-Black.otf');
}
