html.Games90 {
  overflow-x: hidden;
}

body.Games90 {
  background: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .O_headerMainNavigation {
    margin-top: 1.944vw;
    margin-left: 2.778vw;
    gap: 44.658vw;

    .Q_SearchHeader {
      position: absolute;
      top: 0.662vw;
      right: 0.935vw;
    }
  }

  .O_firstSectionGames90 {
    .M_titleGames90 {
      width: fit-content;
      margin-left: 19.375vw;
    }
    .M_titleFashion90 {
      .A_aboutPage {
        > p {
          width: 21.528vw;
          color: #131313;
          text-align: center;
          font-size: 1.25vw;
          line-height: 105.092%;
        }
      }
    }

    .A_lineGames90Mobile {
      display: none;
    }

    .A_lineGames90 {
      top: 2.606vw;
      left: 5.259vw;
      width: 90vw;
      height: 55.572vw;
      position: absolute;
    }

    .A_pictureFashion1 {
      top: 2.083vw;
      left: 9.792vw;
      width: 13.056vw;
      height: 11.528vw;
      position: absolute;
    }

    .A_pictureFashion2 {
      top: 0;
      left: 42.5vw;
      width: 15vw;
      height: 21.944vw;
      position: absolute;
    }

    .A_pictureFashion3 {
      top: 2.639vw;
      right: 18.767vw;
      width: 17.205vw;
      height: 18.369vw;
      position: absolute;
    }

    .A_pictureFashion4 {
      top: 36.458vw;
      left: 18.264vw;
      width: 16.458vw;
      height: 16.458vw;
      position: absolute;
    }

    .A_pictureFashion5 {
      top: 26.684vw;
      left: 40.139vw;
      width: 50.012vw;
      height: 43.383vw;
      position: absolute;
    }

    .A_pictureFashion6 {
      top: 33.092vw;
      right: 5.417vw;
      width: 13.333vw;
      height: 15.486vw;
      position: absolute;
    }

    .A_pictureFashion7 {
      top: 36.986vw;
      right: 5.325vw;
      position: absolute;
    }
  }

  .O_secondSectionFashion {
    margin-top: 8.888vw;
    margin-left: 2.778vw;

    .M_allTextSection2 {
      .W_titleSubtitleFashion {
        width: 39.653vw;
        .A_sammary {
          margin-top: 2.083vw;
        }
      }
      .W_textSection2 {
        width: 33.403vw;
      }
    }

    .M_pictureDescSection2 {
      position: relative;
      margin-left: 14.166vw;

      .W_pictureDescSection2 {
        margin-top: 0.903vw;

        .A_pictureSection2 {
          width: 35.069vw;
          height: 29.236vw;
        }
      }

      .A_lineSection2 {
        position: absolute;
        top: -13.194vw;
        left: -14.444vw;
      }
    }
  }

  .O_thirdSectionFashion {
    margin-top: 8.194vw;
    margin-left: 2.708vw;

    .A_titleName {
      margin-bottom: 2.778vw;
    }

    .C_picturesAllSection3 {
      margin-left: 8.056vw;
    }

    .M_textSection3 {
      margin-top: 3.472vw;
      margin-left: 8.056vw;

      .A_mainText {
        width: 35.069vw;
      }
    }
  }

  .O_fourthSectionFashion {
    margin-left: 2.708vw;
    margin-top: 9.31vw;

    .W_titleSubtitleFashion {
      margin-bottom: 2.083vw;

      .A_titleName {
        margin-bottom: 2.083vw;
      }

      .A_sammary {
        width: 25.417vw;
      }
    }

    .A_lineSection4 {
      top: -23.333vw;
      left: -20.833vw;
      position: absolute;
    }

    .M_textPicturesSection4 {
      .W_textPicturesSection4 {
        .A_mainText {
          width: 27.917vw;
        }
      }
    }
  }

  .O_fifthSectionFashion {
    .A_titleName {
      margin-bottom: 2.083vw;
    }

    .W_textsPicturesSection5 {
      .M_textPictureSection5F {
        .W_textSection5Fashion {
          .A_mainText {
            width: 42.361vw;
          }
        }
      }
    }
  }

  .O_fourthSectionFashionTablet {
    display: none;
  }

  .O_sixthSectionFashion {
    margin-left: 2.778vw;
    margin-bottom: 13.542vw;
    position: relative;

    .A_lineSection6 {
      position: absolute;
      top: 31.542vw;
      left: -4.167vw;
    }

    .W_allInformationSection6 {
      .M_informationSection6 {
        .W_titleSubtitleFashion {
          width: 46.528vw;
          .A_sammary {
            margin-top: 2.292vw;
          }
        }
      }
      .W_textSection6 {
        .A_mainText {
          width: 34.792vw;
        }
      }
    }
  }

  @media screen and (min-width: 361px) and (max-width: 1280px) {
    .O_secondSectionTablet {
      display: block !important;
      margin-top: 8.249vw;
      margin-left: 3.047vw;
      position: relative;

      .A_lineSection2Tablet {
        width: 53.615vw;
        height: 49.559vw;
        position: absolute;
        top: 2.98vw;
        left: 15.234vw;
      }
    }
    .W_pictureDescSection2Tablet {
      margin-top: 7.534vw;
      margin-left: 29.531vw;
    }

    .W_textSection2 {
      margin-top: 4.922vw;

      .A_mainText {
        width: 36.172vw;
      }
    }

    .O_fourthSectionFashion {
      display: none !important;
    }

    .O_fourthSectionFashionTablet {
      display: block !important;
      position: relative;
      margin-top: 9.688vw;
      margin-left: 3.125vw;
      .W_titleSubtitle {
        .A_sammary {
          width: 36.719vw;
        }
      }
      .M_allTextSection4Tablet {
        margin-top: 2.005vw;
        .A_mainText {
          width: 27.891vw;
        }
      }
      .A_lineSection4Tablet {
        width: 100.469vw;
        position: absolute;
        top: -25.594vw;
        left: -3.594vw;
      }
    }

    .O_fifthSectionFashion {
      margin-top: 9.766vw;
      margin-left: 3.125vw;
      margin-bottom: 9.766vw;
      .A_mainText:nth-child(1) {
        width: 46.875vw !important;
      }
      .A_mainText:nth-child(2) {
        width: 50.156vw !important;
      }
    }

    .O_sixthSectionFashion {
      position: relative;
      margin-bottom: 21.25vw;

      .A_lineSection6Tablet {
        position: absolute;
        left: -3.047vw;
        top: 36.797vw;
      }
    }
  }

  @media screen and (max-width: 360px) {
    .M_titleGames90 {
      margin-left: 10vw !important;
    }
    .A_lineFashion90 {
      display: none;
    }

    .O_firstSectionGames90 {
      margin-top: 5.556vw;
      padding-top: 16.775vw;
    }

    .A_titleGames90 {
      width: 80.345vw;
      height: 15.833vw;
    }

    .A_lineFashion90Mobile {
      display: block !important;
      position: absolute;
      top: -15.278vw;
      left: -2.536vw;
      width: 86.389vw;
      z-index: -1;
    }
    .A_pictureFashion1 {
      left: 10.747vw !important;
      top: 3.189vw !important;
      width: 12.814vw !important;
      height: 11.314vw !important;
    }
    .A_pictureFashion2 {
      top: -5.914vw !important;
      left: 43.611vw !important;
      width: 14.722vw !important;
      height: 26.173vw !important;
    }
    .A_pictureFashion3 {
      width: 16.886vw !important;
      height: 18.029vw !important;
      top: 0.664vw !important;
      right: 9.781vw !important;
    }
    .A_lineGames90 {
      display: none;
    }
    .A_lineGames90Mobile {
      position: absolute;
      width: 88.333vw;
      height: 54.543vw;
      top: 5.425vw;
      left: 6.381vw;
      display: block !important;
    }
    .A_pictureFashion4 {
      top: 39.164vw !important;
      left: 4.167vw !important;
    }
    .A_pictureFashion5 {
      top: 34.831vw !important;
      left: 29.167vw !important;
    }
    .A_pictureFashion6 {
      top: 35.447vw !important;
      right: 6.033vw !important;
    }

    .M_titleFashion90 {
      margin-left: 11.003vw;
      gap: 2.619vw;
      width: fit-content;
    }
    .O_secondSectionTablet {
      margin-top: 25.756vw;
      position: relative;
      display: block !important;

      .A_lineSection2Tablet {
        width: 53.615vw;
        height: 49.559vw;
        position: absolute;
        top: 2.98vw;
        left: 15.234vw;
      }

      .A_sammary {
        width: 65.833vw;
      }

      .W_pictureDescSection2Tablet {
        position: relative;
        z-index: 6;
        margin-top: 14.183vw;
        margin-left: 17.222vw;
        .A_pictureSection2 {
          width: 57.091vw;
          height: 47.593vw;
        }
        .A_descSection2 {
          display: none;
        }
      }
      .W_textSection2 {
        margin-top: 12.131vw;
      }
      .A_lineSection2Tablet {
        top: 16.111vw;
        left: -6.389vw;
        width: 88.611vw;
        height: 81.906vw;
      }
    }
    .O_thirdSectionFashion {
      display: none;
    }
    .O_thirdSectionFashionMobile {
      display: block;
      margin-top: 20.833vw;
      margin-left: 5.833vw;

      .W_textSection2 {
        width: 85vw;
        margin-top: 11.158vw;
        padding-left: 0;

        .A_mainText:nth-child(2) {
          width: auto;
        }
      }
    }
    .C_picturesSection3Mobile:nth-child(1) {
      margin-top: 9.722vw;
    }
    .C_picturesSection3PMobile:nth-child(2),
    .C_picturesSection3PMobile:nth-child(4) {
      margin-top: 3.167vw;
    }

    .O_fourthSectionFashion {
      display: none;
    }

    .O_fourthSectionFashionMobile {
      margin-top: 20.833vw;
      margin-left: 5.833vw;

      .A_sammary {
        width: 91.389vw;
      }

      .A_mainText {
        margin-top: 4.167vw;
        width: 91.389vw;
      }
    }

    .W_pictureDescSection5Mobile {
      display: flex;
      flex-direction: column;
      gap: 3.194vw;
      margin-top: 4.444vw;

      .A_descSection5 {
        color: #131313;
        font-size: 2.222vw;
        font-style: italic;
        line-height: 105.092%;
      }
    }
    .M_picturesSection5 {
      margin-top: 5.833vw;
      gap: 1.433vw;
    }
    .W_textSection2 {
      margin-top: 5.581vw;
      width: 92.389vw;
      padding: 0;
    }
    .O_sixthSectionFashion {
      margin-top: 19.722vw;
      margin-left: 5.556vw;
      margin-bottom: 30.833vw;

      .W_allInformationSection6 {
        flex-direction: column;
        gap: 7.222vw;

        .A_sammary {
          width: 89.167vw;
        }
      }
      .W_textSection6 {
        padding: 0;
        gap: 5.556vw;
        width: 85vw;

        .A_mainText:nth-child(1) {
          width: 85vw !important;
        }
        .A_mainText:nth-child(2) {
          width: 81.744vw !important;
        }
      }

      .A_sammary {
        margin-top: 4.164vw !important;
      }
    }

    .W_footerContent {
      margin-left: 0 !important;
      gap: 40.129vw;
    }
  }
}
