body {
    background: #F4F3EF;
    font-family: "PP Radio Grotesk";
    overflow-x: hidden;
    height: max-content;
}

.guide-hero {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202020;

    img {
        width: 70vw;
    }
}


.brand {
    width: 80%;
    margin-left: 15vw;
    margin-bottom: 7vw;

    .brand-title {
        width: 100%;
        margin-bottom: 2vw;
        img {
            width: 50%;
        }

        h4 {
            font-size: 2vw;
            width: 70%;
            font-style: italic;
        }
    }

    .mission {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2vw;
        .mcol-1 {
            width: 35%;
            h4 {
                font-size: 3vw;
                margin-bottom: 1vw;
            }

            p {
                width: 100%;
                font-size: 1.5vw;
                line-height: 1.25;
            }
        }
        .mcol-2 {
            width: 35%;
            h4 {
                font-size: 3vw;
                margin-bottom: 1vw;
            }

            p {
                width: 100%;
                font-size: 1.5vw;
                line-height: 1.25;
            }
        }
    }

    .values {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2vw;
        h4 {
            font-size: 3vw;
            margin-bottom: 1vw;
        }

        .vrow-1 {
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 1vw;

            p {
                font-size: 1.5vw;
                border: 1px solid var(--black);
                padding: 7px 10px;
                border-radius: 5px;
            }
        }

        .vrow-2 {
            width: 65%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 1vw;

            p {
                font-size: 1.5vw;
                border: 1px solid var(--black);
                padding: 7px 10px;
                border-radius: 5px;
            }
        }
    }

    .tov {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2vw;
        .tcol-1 {
            width: 35%;
            h4 {
                font-size: 3vw;
                margin-bottom: 1vw;
            }

            p {
                width: 100%;
                font-size: 1.5vw;
                line-height: 1.25;
            }
        }
        .tcol-2 {
            width: 35%;
            h4 {
                font-size: 3vw;
                margin-bottom: 1vw;
            }

            p {
                width: 100%;
                font-size: 1.5vw;
                line-height: 1.25;
            }
        }
    }
}


.logo {
    width: 80%;
    margin-left: 15vw;
    margin-bottom: 7vw;
    height: 100%;
    .logo-title {
        img {
            width: 50%;
            margin-bottom: 1vw;
        }
        h4 {
            font-size: 2vw;
            margin-bottom: 1vw;
            width:60%;
            line-height: 1.25;
            font-style: italic;
        }

        p {
            font-size: 1.5vw;
            line-height: 1.25;
            margin-bottom: 2vw;
            width: 60%;
        }
    }

    .logo-colors {
        margin-bottom: 5vw;
        h4 {
            font-size: 2.5vw;
            margin-bottom: 2vw;
            width:60%;
            line-height: 1.25;
        }

        .logo-vars {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            .color-1, .color-2, .color-3 {
                width: 33%;
                img {
                    width: 100%;
                    margin-bottom: 1vw;
                }

                p {
                    font-size: 1.5vw;
                }
            }
        }
    }

    .logo-grid {
        margin-bottom: 5vw;
        h4 {
            font-size: 2.5vw;
            margin-bottom: 2vw;
            width:60%;
            line-height: 1.25;
        }

        img {
            width: 100%;
        }
    }

    .logo-adaptive {
        h4 {
            font-size: 2.5vw;
            margin-bottom: 2vw;
            width:60%;
            line-height: 1.25;
        }

        .adaptive-vers {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 2vw;

            .ver-1 {
                width: 60%;
                p {
                    font-size: 1.25vw;
                    margin-bottom: 1.5vw;
                }
                img {
                    width: 100%;
                }
            }
            .ver-2 {
                width: 20%;
                p {
                    font-size: 1.25vw;
                    margin-bottom: 1.5vw;
                }
                img {
                    width: 100%;
                }
            }
            .ver-3 {
                width: 15%;
                p {
                    font-size: 1.25vw;
                    margin-bottom: 1.5vw;
                }
                img {
                    width: 100%;
                }
            }
        }

        .logo-text {
            font-size: 2vw;
            line-height: 1.25;
            width: 60%;
            font-style: italic;
        }
    }
}

.colors {
    width: 80%;
    margin-left: 15vw;
    margin-bottom: 7vw;
    height: 100%;
    .col-title {
        width: 50%;
        margin-bottom: 2vw;
    }

    h4 {
        font-size: 2.5vw;
        margin-bottom: 2vw;
        width:70%;
        line-height: 1.25;
    }

    .col-img {
        width: 100%;
    }
}


.typo {
    width: 80%;
    margin-left: 15vw;
    margin-bottom: 7vw;
    height: 100%;

    .typo-title {
        width: 80%;
        margin-bottom: 2vw;
    }

    .typo-desc {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        img {
            width: 65%;
        }

        p {
            width: 32%;
            font-size: 2vw;
        }
    }
}

.photos {
    width: 80%;
    margin-left: 15vw;
    margin-bottom: 7vw;
    height: 100%;
    .photos-title {
        width: 70%;
        margin-bottom: 1vw;
    }

    .picssub {
        font-size: 2.5vw;
        margin-bottom: 2vw;
        line-height: 1.25;
        width: 70%;
        font-style: italic;
    }

    .ranImg {
        width: 100%;
    }

    .characterCol {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        .cols {
            width: 60%;
            h4 {
                font-size: 3vw;
                margin-bottom: 3vw;
            }

            img {
                width: 100%;
            }
        }

        .cols-desc {
            width: 35%;

            h4 {
                font-size: 3vw;
                margin-bottom: 3vw;
            }

            p {
                font-size: 2vw;
            }
        }
    }
}

.graphics {
    width: 80%;
    margin-left: 15vw;
    margin-bottom: 7vw;
    height: 100%;
    .graph-title {
        width: 60%;
    }

    .graph-background {
        width: 100%;
    }

    p {
        font-size: 2.5vw;
        font-style: italic;
        line-height: 1.25;
    }
}


.mockups {
    width: 80%;
    margin-left: 15vw;
    margin-bottom: 7vw;
    height: 100%;

    .mockup-title {
        width: 60%;
        margin-bottom: 2vw;
    }

    p {
        width: 70%;
        font-size: 2vw;
        margin-bottom: 2vw;
    }

    .mockups-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px 15px;
        align-items: center;

        .mock-cell {
            width: 100%;
            height: min-content;
            img {
                width: 100%;
            }
        }

        .span2 {
            grid-column: span 2;
        }
    }
}


footer {
    background-color: #E7E6E0;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
    padding: 30px 30px;

    .creators {
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-size: .95vw;
        margin-top: .25vw;
        line-height: 1.25;
    }

    .footer-title {
        font-size: 1.5vw;
        margin-bottom: .75vw;
        margin-top: 0;
    }

    .socials {

        .social-contacts {
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

            img {
                width: 2vw;
            }
        }
    }
}