html {
  scroll-behavior: smooth;
}

body.guideline {
  background: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .W_allContentGuide {
    .O_menuLogo {
      margin-left: 4.931vw;
      top: 4.097vw;
      margin-top: 4.097vw;

      .M_styleguideMenu {
        .now {
          color: #202020;
          font-size: 1.389vw;
          font-style: italic;
          line-height: 1.801vw;
          letter-spacing: -0.014vw;
        }
      }
    }
  }

  .O_guideAbout {
    margin-top: 8.471vw;
    margin-bottom: 9.558vw;

    .M_guideTitleDesc {
      margin-bottom: 4.856vw;
    }

    .M_guideMission {
      margin-bottom: 4.653vw;
      margin-left: 0.9vw;
      .W_guideTitleText {
        .A_guideText {
          width: 30.972vw;
        }
      }
    }

    .M_guideValues {
      margin-bottom: 5.053vw;
      margin-left: 0.9vw;
      .A_guideTitle {
        margin-bottom: 1.736vw;
      }

      .C_guideSections {
        #A_guide2Section {
          margin-top: 2.083vw;
          margin-left: 5.208vw;
        }
      }
    }

    .M_guideTone {
      margin-left: 0.9vw;

      .W_guideTitleText {
        .A_guideText {
          width: 30.972vw;
        }
      }
    }

    .W_guideImageLine {
      position: absolute;
      top: 3.819vw;
      right: -17.299vw;

      .A_guideLine1 {
        position: absolute;
        top: 9.306vw;
        left: 0;
      }
    }
  }

  .O_guideLogo {
    margin-left: 0.9vw;
    margin-bottom: 9.583vw;
    .M_guideLogoDesc {
      .A_nameGuideSection2 {
        margin-bottom: 2.569vw;
      }
      .A_descGuideSection1 {
        margin-bottom: 1.181vw;
      }

      .A_guideText {
        width: 47.222vw;
        margin-bottom: 5.972vw;
      }
    }

    .M_guideLogoColors {
      margin-bottom: 5vw;
      .A_guideSubtitle {
        margin-bottom: 1.18vw;
      }

      .C_guideVariantsLogo {
        .W_guideImageSub1,
        .W_guideImageSub2,
        .W_guideImageSub3 {
          .C_guideLogoBack1 {
            margin-bottom: 1.392vw;
          }
        }
      }
    }

    .M_guideGrid {
      margin-bottom: 5vw;

      .A_guideSubtitle {
        margin-bottom: 1.25vw;
      }
    }

    .M_guideAdaptiveLogo {
      .A_guideSubtitle {
        margin-bottom: 2.014vw;
      }

      .C_guideAdaptive123 {
        margin-bottom: 2.026vw;

        .W_guideAdaptive1 {
          .A_guideTextDesc {
            margin-bottom: 1.157vw;
          }
        }

        #A_guide2Logo3 {
          .A_guideTextDesc {
            margin-bottom: 1.898vw;
          }
        }

        #A_guide3Logo3 {
          .A_guideTextDesc {
            margin-bottom: 3.192vw;
          }
        }
      }
    }
  }

  .O_guideColors {
    margin-left: 0.9vw;
    margin-bottom: 6.944vw;
    .A_nameGuideSection3 {
      margin-bottom: 1.262vw;
    }

    .A_descGuideSection1 {
      width: 62.014vw;
      margin-bottom: 2.222vw;
    }

    .M_guideAllColors {
      .f4f3 {
        position: absolute;
        top: -0.055vw;
        left: -0.069vw;
        width: 60vw;
        height: 24.167vw;
        background: #f4f3ef;
        border-radius: 1.944vw;
        border: 0.11vw solid #202020;

        .f2020 {
          position: absolute;
          top: -0.055vw;
          left: -0.069vw;
          width: 49.16vw;
          height: 24.267vw;
          border-radius: 1.944vw;
          background: #202020;

          img {
            position: absolute;
            left: -0.05vw;
            width: 37.317vw;
            height: 24.189vw;
          }

          .text3 {
            margin-top: 1.319vw;
            margin-left: 40.764vw;
            width: 6.597vw;
            h3 {
              color: #f4f3ef;
              font-size: 1.642vw;
              line-height: 110.2%;
              text-align: right;
            }

            p {
              color: #f4f3ef;
              font-size: 1.147vw;
              line-height: 136%;
              text-align: right;
            }
          }
        }

        .text2 {
          margin-top: 1.319vw;
          margin-left: 51.25vw;
          width: 7.222vw;
          h3 {
            color: #202020;
            font-size: 1.642vw;
            line-height: 110.2%;
            text-align: right;
          }

          p {
            color: #202020;
            font-size: 1.147vw;
            line-height: 136%;
            text-align: right;
          }
        }
      }

      .text {
        margin-top: 1.319vw;
        margin-left: 61.806vw;
        h3 {
          color: #202020;
          font-size: 1.642vw;
          line-height: 110.2%;
          text-align: right;
        }

        p {
          color: #202020;
          font-size: 1.147vw;
          line-height: 136%;
          text-align: right;
        }
      }
    }
  }

  .O_guideType {
    margin-left: 0.9vw;
    margin-bottom: 7.431vw;

    .A_nameGuideSection4 {
      margin-bottom: 2.083vw;
    }

    .W_guideCardsText {
      .W_guideCards {
        #W_guideCardInfo2 {
          margin-top: 1.035vw;
        }
      }

      .A_guideText {
        width: 18.264vw;
      }
    }
  }

  .O_guideImages {
    margin-bottom: 5.346vw;

    .W_guideTitleImagesSection5 {
      .M_guideTitleSection5 {
        .A_nameGuideSection5 {
          margin-bottom: 2.222vw;
        }
      }
    }
    .M_guideImagesSection5 {
      margin-top: 0.208vw;

      .A_guideImg2Section5 {
        margin-left: -4.097vw;
      }

      .A_guideImg3Section5 {
        margin-left: -4.931vw;
      }

      .A_guideImg4Section5 {
        margin-left: -4.236vw;
      }

      .A_guideImg5Section5 {
        margin-left: 1.649vw;
      }
    }
    .W_guideColorsTextSection5 {
      .M_guideAllTextSection5 {
        .A_guideText {
          width: 19.444vw;
        }
      }
    }
  }

  .O_guideGraphics {
    margin-bottom: 7.662vw;

    .W_guideTitleImagesSection6 {
      .M_guideImagesSection6 {
        margin-top: 0.694vw;

        .A_guideLine1Section6 {
          &:nth-child(2) {
            margin-left: 3.799vw;
          }
        }

        .A_guideLine2Section6 {
          margin-left: 7.025vw;
        }
        .A_guideImgSection6 {
          position: absolute;
          top: -1.389vw;
          left: 21.181vw;
        }
      }
    }
    .A_descGuideSection1 {
      margin-top: -1.806vw;
      width: 54.514vw;
    }
  }

  .O_guideClothes {
    margin-bottom: 10.855vw;

    .M_guideTitleSection7 {
      .A_guideText {
        width: 44.861vw;
      }
    }

    .M_guideCardsSection7 {
      margin-top: 1.806vw;
    }
  }
}
