body.S_mainPage {
  background-color: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .O_headerMainNavigation {
    margin-top: 1.944vw;
    margin-left: 2.778vw;

    .M_linksInputHeader {
      .A_InputHeader {
        .Q_SearchHeader {
          position: absolute;
          top: 0.662vw;
          right: 0.935vw;
        }
      }
    }
  }

  .O_headerMain {
    margin-top: -1.253vw;
    position: relative;

    .A_lineMain {
      margin-left: 14.514vw;
    }

    .M_infoHeader {
      position: absolute;
      top: 10.986vw;
      left: 30.417vw;
      z-index: 5;

      .A_descMain {
        width: 17.791vw;
        color: #131313;
        font-size: 2.778vw;
        line-height: 95%;
        position: relative;
        z-index: 3;
      }

      .A_namingMain {
        width: 39.203vw;
        height: auto;
        margin-top: -3.958vw;
      }

      .A_aboutPage {
        width: 18.611vw;
        padding: 1.042vw 1.528vw;
        margin-left: 20.833vw;
        margin-top: -2.222vw;
      }
    }

    .A_image1MainHeader {
      position: absolute;
      top: -3.333vw;
      left: 23.333vw;
    }

    .A_image2MainHeader {
      position: absolute;
      top: 8.719vw;
      left: 8.758vw;
    }

    .A_image3MainHeader {
      position: absolute;
      top: 21.744vw;
      left: -0.347vw;
    }

    .A_image4MainHeader {
      position: absolute;
      top: 25.2vw;
      left: 30.237vw;
    }

    .A_image5MainHeader {
      position: absolute;
      top: 34.167vw;
      right: 34.583vw;
    }

    .A_image6MainHeader {
      position: absolute;
      top: 23.264vw;
      right: 8.599vw;
    }

    .A_image7MainHeader {
      position: absolute;
      top: 5.767vw;
      right: 1.449vw;
    }
  }

  .O_selectionDayMain {
    margin-top: 9.306vw;
    margin-left: 2.778vw;

    .C_cardsAllSelectionDayMain {
      .C_cardsSelectionDayMain {
        .M_LongCardMain {
          .W_info2ButtonCardBigMain {
            padding-top: 0;
            padding-left: 2.431vw;
          }
        }
      }
    }
  }

  .O_bestSectionMain {
    margin-top: 10.417vw;
    margin-left: 2.778vw;

    .C_cardsSelectionDayMain {
      .M_LongCardMain {
        .W_info2ButtonCardBigMain {
          padding-top: 0;
          padding-left: 2.431vw;
        }
      }
    }
  }

  .O_testsSectionMain {
    margin-top: 10.417vw;
    margin-left: 2.778vw;
    .A_subtitleMainPage {
      width: 28.111vw;
    }

    .W_infoLookMain {
      gap: 57.967vw;
    }
    .W_middleCardMainTests {
      .M_middle2CardMain {
        .W_infoMiddle2CardMain {
          .W_info2ButtonCardBigMain {
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1.736vw;
          }
        }
      }
    }
  }
  .O_CardsSectionMain {
    margin-top: 10.417vw;
    margin-left: 2.778vw;
    display: flex;
    flex-direction: column;
    gap: 1.736vw;

    .W_infoLookMain {
      gap: 59.467vw;
    }

    .C_Cards {
      width: 94.514vw;
      grid-template-columns: 14.301vw 14.301vw 14.301vw 14.301vw 14.301vw 14.301vw;

      .M_Card {
        cursor: default;
      }
    }
  }
  .O_CollectorMain {
    margin-top: 7.639vw;
    margin-left: 26.688vw;
    position: relative;

    .W_infoCollectorMain {
      position: absolute;
      z-index: 5;
      top: 4.583vw;
      left: 3.66vw;
    }
    .A_image1EmailMain {
      position: absolute;
      top: -10.972vw;
      left: -11.757vw;
    }

    .A_image2EmailMain {
      position: absolute;
      top: 0.347vw;
      right: 20.537vw;
    }

    .A_image3EmailMain {
      position: absolute;
      top: 13.889vw;
      left: -7.826vw;
    }

    .A_image4EmailMain {
      position: absolute;
      top: 12.778vw;
      right: 18.404vw;
    }
  }
  .O_Footer {
    margin-top: 9.097vw;
  }
}
