html.S_Slang10 {
  overflow-x: hidden;
}

body.S_Slang10 {
  background: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .O_headerMainNavigation {
    margin-top: 1.944vw;
    margin-left: 2.778vw;
    gap: 44.658vw;

    .Q_SearchHeader {
      position: absolute;
      top: 0.662vw;
      right: 0.935vw;
    }
  }

  .O_aboutSlang90 {
    position: relative;
    margin-top: 3.889vw;
    margin-bottom: 11.387vw;
    margin-left: 4.931vw;

    #A_pictureSlang10 {
      position: absolute;
      top: -3.819vw;
      left: -0.278vw;
    }
    #A_picture2Slang10 {
      position: absolute;
      bottom: 2.726vw;
      left: 2.5vw;
    }
    #A_picture3Slang10 {
      position: absolute;
      top: -4.236vw;
      left: 37.083vw;
    }
    #A_picture4Slang10 {
      position: absolute;
      bottom: 0.365vw;
      right: 4.864vw;
    }

    .M_aboutPage {
      position: absolute;
      top: 14.514vw;
      left: 13.889vw;

      .A_aboutPage {
        margin-top: 1.935vw;
      }
    }
  }

  .O_firstSection {
    margin-bottom: 8.333vw;
    .C_allPictures {
      .C_secondLine {
        margin-left: 15.972vw;
      }
    }
  }

  .O_secondSection {
    margin-bottom: 15.667vw;

    .A_linePictures {
      position: absolute;
      left: 7.361vw;
      bottom: -29.375vw;
    }
  }

  .O_thirdSection {
    margin-bottom: 8.333vw;

    .A_titleName {
      margin-bottom: 4.097vw;
    }
  }

  .O_fourthSection {
    margin-bottom: 8.958vw;

    .A_titleName {
      margin-left: 1.944vw;
      margin-bottom: 46px;
    }

    .C_picturesSection4 {
      #C_picturesPosition2 {
        margin-left: 8.264vw;
      }
    }
  }

  .O_fifthSection {
    margin-bottom: 11.667vw;

    .A_lineSection5 {
      position: absolute;
      right: -0.023vw;
      bottom: -6.672vw;
    }
  }

  .A_pageName {
    width: 62.5vw;
  }

  @media all and (min-width: 361px) and (max-width: 1280px) {
    .A_sammary {
      font-size: 1.481vw;
    }

    .O_firstSectionTablet {
      margin-left: 3.047vw;
      margin-bottom: 10.103vw;

      .W_titleDesc {
        margin-bottom: 4.956vw;

        .A_sammary {
          width: 35.391vw;
        }
      }

      .C_allPictures {
        padding-left: 22.031vw;

        .A_pictureDescription {
          font-size: 1.406vw;
        }

        .C_firstLine:nth-child(2) {
          margin-left: 15.972vw;
        }
      }

      .W_textSection {
        margin-left: 6.484vw;
        width: 86.369vw;
        margin-top: 3.984vw;
        padding: 0;
        flex-direction: row;
        gap: 9.688vw;

        .A_mainText {
          width: 37.891vw;
        }
      }
    }
    .O_fourthSection {
      .A_pictureDescription {
        font-size: 1.25vw;
      }
    }
    .O_fifthSection {
      gap: 4.297vw;
      margin-bottom: 15.852vw;
      .W_textSection5 {
        width: 46.172vw;
      }
      .A_lineSection5 {
        right: 0.934vw;
        bottom: -8.491vw;
      }
    }
  }

  @media all and (max-width: 360px) {
    .A_pageName {
      width: 83.056vw;
    }

    .A_aboutPage {
      margin-top: 5.122vw !important;
    }

    .O_aboutSlang90 {
      margin-bottom: 26.389vw;

      #A_pictureSlang10 {
        top: -10.769vw;
        left: 43.056vw;
      }
      #A_picture2Slang10 {
        bottom: -5.556vw;
        left: 1.111vw;
        width: 25.556vw;
        height: 15.098vw;
      }
      #A_picture3Slang10 {
        top: 45.064vw;
        left: -1.111vw;
      }
      #A_pictureSlang10 {
        width: 23.333vw;
        height: 23.333vw;
      }

      #A_picture2Slang10 {
        width: 15.972vw;
        height: 13.958vw;
      }

      #A_picture3Slang10 {
        width: 24.167vw;
        height: 24.167vw;
      }

      #A_picture4Slang10 {
        bottom: -28.842vw;
        right: 1.111vw;
        width: 35.278vw;
        height: 35.278vw;
      }
      #A_picture2Slang10 {
        display: none;
      }
    }
    .O_firstSectionTablet {
      margin-left: 5.833vw;
      .W_titleDesc {
        width: 65.833vw;
      }
    }
    .C_firstLine:nth-child(2) {
      margin-left: 27.464vw;
    }
    .O_secondSectionMobile {
      margin: 21.069vw 0 20.833vw 5.833vw;

      .M_allPicturesAboutMobile {
        margin-top: 7.453vw;
      }

      .W_textSection {
        margin-top: 16.261vw;
        gap: 5.556vw;
      }
    }
    .O_thirdSection {
      padding-left: 5.833vw;
      .A_titleName {
        margin-bottom: 8.611vw;
      }
      .A_pictureSection3 {
        width: 88.333vw;
        height: auto;
      }
      .A_descSection3 {
        font-size: 3.258vw;
      }
    }
    .O_fourthSection {
      padding-left: 5.833vw;
      margin-bottom: 20.908vw;

      .A_titleName {
        margin-left: 0;
        margin-bottom: 12.778vw;
      }

      .C_picturesPosition {
        height: fit-content;
        flex-direction: column;
        gap: 6.944vw;
      }

      .A_pictureDescription {
        font-size: 5vw;
      }

      .A_pictureNumber {
        display: none;
      }

      #C_picturesPosition2 {
        margin-left: 0 !important;
      }
    }
    .O_fifthSection {
      margin-bottom: 32.406vw;
      gap: 5.278vw;
      .A_pictureDescription {
        font-size: 2.694vw;
      }
      .W_pictureDescSection5 {
        margin-left: 8.889vw;
      }
      .A_pictureSection5 {
        width: 72.282vw;
        height: auto;
      }
      .A_lineSection5 {
        right: 6.664vw;
        bottom: -11.614vw;
      }
    }
    .W_footerContent {
      margin-left: 0 !important;
      gap: 40.129vw;
    }
    .M_aboutPage {
      top: 16.214vw !important;
      left: 3.933vw !important;
    }
  }
}
