html.S_Tests {
  overflow-x: hidden;
}

body.S_Tests {
  background-color: #f4f3ef;
  font-family: 'PP Radio Grotesk';
  overflow-x: hidden;

  .M_middle2CardMain,
  .M_middleCardMainTests {
    cursor: pointer;
  }
  .A_headerStartTest {
    margin-top: 23.611vw;
    margin-left: 5.139vw;
    margin-bottom: 1.736vw;
    color: #000;
    font-family: 'PP Radio Grotesk';
    font-size: 2.5vw;
    font-style: normal;
    width: 29.097vw;
    line-height: 100%;
  }
  .A_header2StartTest {
    color: #000;
    margin-left: 5.139vw;
    margin-bottom: 1.736vw;
    font-family: 'PP Radio Grotesk';
    font-size: 1.404vw;
    font-style: normal;
    width: 15.486vw;
    line-height: 105.092%;
  }
  .A_buttonStartTest {
    cursor: pointer;
    border-radius: 1.259vw;
    margin-left: 5.139vw;
    border: 0.064vw solid #000;
    color: #000;
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-size: 1.404vw;
    line-height: 105.092%;
    width: 10.137vw;
    height: 2.261vw;
    background-color: transparent;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      background-color: #000;
      color: white;
    }
  }
  .A_h1Question,
  .A_h2Question {
    color: #353535;
    font-size: 2.5vw;
    line-height: 100%;
  }
  .A_h2Question {
    width: 48.681vw;
  }
  .A_QuestionTitle {
    margin-top: 4.167vw;
    margin-left: 3.264vw;
    margin-bottom: 2.361vw;
    display: flex;
    gap: 2.569vw;
  }
  .A_answerBtn {
    cursor: pointer;
    width: 17.708vw;
    height: 3.928vw;
    color: #000;
    text-align: center;
    font-size: 1.404vw;
    line-height: 105.092%;
    outline: none;
    border-radius: 18.129px;
    border: 0.917px solid #000;
    background-color: #f4f3ef;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      color: white;
      background-color: #000;
    }
  }
  .A_nextQuestionBtn {
    position: absolute;
    bottom: 4.197vw;
    right: 3.544vw;
    cursor: pointer;
    background-color: #f4f3ef;
    z-index: 5;
    width: 10.137vw;
    height: 2.261vw;
    color: #000;
    text-align: center;
    font-size: 1.404vw;
    line-height: 105.092%;
    border-radius: 18.129px;
    border: 0.917px solid #000;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      color: white;
      background-color: #000;
    }
  }
  .A_questionLine {
    width: 122.278vw;
    height: auto;
    top: -2.861vw;
    left: -32.167vw;
    position: absolute;
  }
  .A_wrapperAnswers {
    position: relative;
    z-index: 5;
    width: 36.458vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1.042vw;
    margin: 2.346vw auto 0 auto;
  }
  .A_Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(184, 183, 179, 0.46);
    backdrop-filter: blur(4.449999809265137px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .A_Modal {
      position: relative;
      width: 69.444vw;
      height: 41.667vw;
      border-radius: 0.888vw;
      background: #f4f3ef;
      box-shadow: 0vw 0.278vw 0.278vw 0vw rgba(0, 0, 0, 0.25);
      display: none;
      z-index: 1001;
      overflow: hidden;
    }
  }

  .A_resultHeader {
    margin: 6.736vw auto 15.625vw auto;
    color: #000;
    font-size: 2.5vw;
    line-height: 100%;
  }

  .A_scoreText {
    margin: 0 auto;
    color: #000;
    font-family: 'PP Radio Grotesk';
    font-size: 6.667vw;
    line-height: 100%;
  }

  .A_lineFinalTestLine {
    width: 71.422vw;
    height: 46.121vw;
    top: -2.222vw;
    left: -1.528vw;
    position: absolute;
  }

  .A_resultImage {
    top: 10.139vw;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    height: 13.056vw;
    width: auto;
  }

  .A_cancelTest {
    width: 1.042vw;
    cursor: pointer;
    height: 1.042vw;
    position: absolute;
    z-index: 6;
    top: 1.458vw;
    right: 1.458vw;
  }

  .A_resultMessage {
    margin: 0.625vw auto 0 auto;
    color: #000;
    font-family: 'PP Radio Grotesk';
    font-size: 1.667vw;
    line-height: 105.092%;
  }

  .A_imgQuestion {
    position: relative;
    z-index: 5;
    margin: 0 auto;
    width: auto;
    height: 14.668vw;
  }

  .O_headerTestsMobile {
    display: none;
  }

  .C_subTagsMain {
    height: 1.597vw;
  }

  #M_middleCardMainTestsIphone {
    display: none;
  }

  .O_headerMainNavigation {
    margin-top: 1.944vw;
    margin-left: 2.778vw;

    .M_linksInputHeader {
      .A_linkHeader:nth-child(3) {
        text-decoration-line: underline;
      }
      .A_InputHeader {
        .Q_SearchHeader {
          position: absolute;
          top: 0.662vw;
          right: 0.935vw;
        }
      }
    }
  }

  .O_headerTests {
    position: relative;
    .A_lineTests {
      margin-top: 1.247vw;
      margin-left: 6.25vw;
    }
    .W_namingTagsTests {
      position: absolute;
      top: 15.922vw;
      left: 29.711vw;
    }
    .A_image1TestsHeader {
      position: absolute;
      top: 15.56vw;
      left: 1.542vw;
    }
    .A_image2TestsHeader {
      position: absolute;
      top: -0.694vw;
      left: 1.459vw;
    }
    .A_image3TestsHeader {
      position: absolute;
      top: 23.972vw;
      left: 23.013vw;
    }
    .A_image4TestsHeader {
      position: absolute;
      top: 1.309vw;
      left: 50.558vw;
    }
    .A_image5TestsHeader {
      position: absolute;
      top: 5.976vw;
      left: 70.037vw;
    }
    .A_image6TestsHeader {
      position: absolute;
      top: 20.522vw;
      left: 77.202vw;
    }
  }

  .C_subTagsMain {
    width: 23.621vw;
  }

  .M_chooseTagTest {
    width: fit-content;
    margin-top: 7.5vw;
    margin-left: 3.056vw;
    display: flex;
    flex-direction: column;
    gap: 0.972vw;

    .W_inputTime {
      display: flex;
      justify-content: space-between;

      .A_Input {
        position: relative;

        > input {
          box-sizing: border-box;
          background-color: transparent;
        }
      }

      .A_Filter {
        align-items: center;
      }

      .Q_SearchHeader {
        top: 0.556vw;
        right: 0.694vw;
        position: absolute;
      }
    }

    .W_allTagsTests {
      display: flex;
      gap: 0.95vw;

      .A_subTagNewMain {
        cursor: pointer;
        border-radius: 1.944vw;
        border: 0.104vw solid #888;
        background-color: transparent;
        padding: 0.459vw 0.972vw 0.513vw 0.972vw;
        color: #888;
        text-align: center;
        font-family: 'PP Radio Grotesk';
        font-size: 1.25vw;
        font-style: normal;
        line-height: 105.092%;
        transition: border 0.3s ease-out, color 0.3s ease-out;

        &:hover {
          border: 0.104vw solid #000;
          color: #000;
        }
      }
    }
  }

  .O_Tests {
    margin: 3.681vw 0 6.944vw 3.056vw;

    .W_allvariantsTests {
      .W_middleCardTests {
        .M_middle2CardTests {
          .W_infoMiddle2CardTests {
            margin-top: 4.028vw;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    .M_chooseTagTest {
      .W_allTagsTests {
        display: flex;
        gap: 1vw;
        width: 93.75vw;
        flex-wrap: wrap;

        .A_subTagNewMain {
          border-radius: 2.188vw;
          border: 0.117vw solid #888;
          padding: 0.469vw 1.252vw 0.469vw 1.252vw;
          font-size: 1.406vw;
        }
      }
    }
  }

  @media screen and (min-width: 913px) and (max-width: 1024px) {
    .M_chooseTagTest {
      .W_allTagsTests {
        display: flex;
        gap: 0.87vw;
        width: 93.75vw;
        flex-wrap: wrap;

        .A_subTagNewMain {
          border-radius: 2.734vw;
          border: 0.146vw solid #888;
          padding: 0.646vw 1.722vw 0.646vw 1.722vw;
          font-size: 1.758vw;
        }
      }
    }
    .A_Input {
      width: 27.832vw;
      height: 3.223vw;

      .Q_SearchHeader {
        top: 0.856vw !important;
        right: 0.894vw !important;
        width: 1.367vw;
        height: 1.367vw;
      }

      > input {
        width: 90%;
        height: 100%;
        border: none;
        background-color: #f4f3ef;
        border-radius: 3.472vw;
        padding: 0.278vw 0.417vw 0.278vw 1.742vw;
        outline: none;
        font-size: 1.758vw;
      }
      ::-webkit-input-placeholder {
        font-size: 1.758vw;
      }
      ::-moz-placeholder {
        font-size: 1.758vw;
      }
      :-ms-input-placeholder {
        font-size: 1.758vw;
      }
      :-moz-placeholder {
        font-size: 1.758vw;
      }
    }
  }
  @media screen and (max-width: 912px) {
    .M_chooseTagTest {
      gap: 1.08vw;
      margin-left: 5.556vw;
      margin-top: 79.414vw;
      .W_allTagsTests {
        flex-wrap: wrap;
        width: 89.167vw;
        gap: 1.08vw;

        .A_subTagNewMain {
          border-radius: 7.778vw;
          border: 0.303vw solid #888;
          padding: 1.389vw 3.889vw;
          font-size: 3.65vw;
        }
      }
    }
    .M_middleCardMainTests {
      width: 88.808vw;
      height: 42.198vw;
      gap: 5.011vw;
      border-radius: 0.959vw;
      box-shadow: 0vw 0.431vw 0.861vw 0vw rgba(0, 0, 0, 0.15);
    }
    .A_imageMiddleCardMainTests {
      width: 37.222vw;
      height: 100%;
    }
    .A_subtitle2MainPage {
      font-size: 3.877vw;
    }
    .A_title2MainPage {
      font-size: 6.905vw;
    }
    .C_subTagsMain {
      gap: 0.958vw;
      width: fit-content;
      height: fit-content;
    }
    .O_headerTests {
      display: none;
    }
    .O_headerTestsMobile {
      display: block;

      .A_backTestsMobile {
        position: absolute;
        width: 100vw;
        height: 147.222vw;
        top: -5.278vw;
        overflow: hidden;

        > img {
          width: 215.556vw;
          height: 188.056vw;
          position: absolute;
          left: -60.236vw;
        }
      }

      .A_namingTestMobile {
        width: 59.167vw;
        height: 12.778vw;
        margin-top: 63.792vw;
        margin-left: 20.178vw;
      }
    }
    .A_subTagNewMain {
      padding: 0.448vw 2.989vw 0.598vw 2.989vw;
      gap: 0.541vw;
      border-radius: 2.71vw;
      border: 0.192vw solid #888;

      > p {
        font-size: 3.069vw;
      }
    }
    .O_Tests {
      margin: 6.944vw 0 41.667vw 5.556vw;
    }
    .C_middleCardMainTests,
    .W_allvariantsTests {
      gap: 4.444vw;
    }
    .W_info2ButtonCardBigMain {
      padding-top: 8.353vw;
      gap: 2.614vw;
    }
    .W_Title2Subtitl2Main {
      gap: 1.461vw;
    }
    #M_middle2CardMainIphone {
      display: none;
    }
    #M_middleCardMainTestsIphone {
      display: flex;
    }
  }
}
