<div class="O_Footer">
  <div class="W_allInformationFooter">
    <div class="W_allInfoFooter">
      <div class="M_logoInfoMain">
        <img
          src="../images/footer/A_bigLogoFooter.svg"
          alt=""
          class="A_bigLogoFooter"
        />
        <div class="W_russisInfoFooter">
          <div class="C_infoFooter">
            <div class="M_socLinksFooter">
              <h1 class="A_titleSectionFooter">Соцсети</h1>
              <div class="C_linksFooter">
                <div class="W_linkIconTextFooter">
                  <img
                    src="../images/footer/A_iconInstFooter.svg"
                    alt=""
                    class="A_iconFooter"
                  />
                  <a href="https://clck.ru/36HCrm"
                    ><p class="A_linkTextFooter">eto.kulek*</p></a
                  >
                </div>
                <div class="W_linkIconTextFooter">
                  <img
                    src="../images/footer/A_iconTelFooter.svg"
                    alt=""
                    class="A_iconFooter"
                  />
                  <a href="https://t.me/eto_kulek"
                    ><p class="A_linkTextFooter">eto.kulek</p></a
                  >
                </div>
                <div class="W_linkIconTextFooter">
                  <img
                    src="../images/footer/A_iconOdFooter.svg"
                    alt=""
                    class="A_iconFooter"
                  />
                  <a href="https://ok.ru/group/70000004399374"
                    ><p class="A_linkTextFooter">кулёк</p></a
                  >
                </div>
              </div>
            </div>
            <div class="M_NamesFooter">
              <h1 class="A_titleSectionFooter">Создатели</h1>
              <div class="C_namesFooter">
                <p class="A_linkTextFooter">Климова Ксения</p>
                <p class="A_linkTextFooter">Орехова Софья</p>
                <p class="A_linkTextFooter">Удод Константин</p>
              </div>
            </div>
            <div class="M_NamesFooter">
              <h1 class="A_titleSectionFooter">Контакты</h1>
              <div class="C_namesFooter">
                <a href="https://t.me/artxksu"
                  ><p class="A_linkTextFooter">Telegram: @artxksu</p></a
                >
                <a href="https://t.me/sonyerikson">
                  <p class="A_linkTextFooter">Telegram: @sonyerikson</p></a
                >
                <a href="https://t.me/KonstUd">
                  <p class="A_linkTextFooter">Telegram: @KonstUd</p></a
                >
              </div>
            </div>
          </div>
          <p class="A_russiaInfoFooter">
            * организация Meta, а также её продукт Instagram, признаны
            экстремистскими на территории РФ
          </p>
        </div>
      </div>
      <div class="W_logoInfoHSE">
        <img src="../images/footer/A_logoHSE.svg" alt="" class="A_logoHSE" />
        <p class="A_russiaInfoFooter">
          Проект создан в рамках ОП Дизайн и программирование на базе Школы
          Дизайна НИУ ВШЭ
        </p>
      </div>
    </div>
    <p class="A_russiaInfoFooter">
      Кураторы проекта: <br />Софья Каем, Анна Комкова, Захар День
    </p>
  </div>
</div>
