@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/index.scss';
@import 'stylesheets/guideline.scss';
@import 'stylesheets/journal.scss';
@import 'stylesheets/fleamarket.scss';
@import 'stylesheets/dictionary.scss';
@import 'stylesheets/section.scss';
@import 'stylesheets/fashion.scss';
@import 'stylesheets/acca.scss';
@import 'stylesheets/subculture.scss';
@import 'stylesheets/rock.scss';
@import 'stylesheets/internet.scss';
@import 'stylesheets/leisureUSSR.scss';
@import 'stylesheets/blogger.scss';
@import 'stylesheets/tens.scss';
@import 'stylesheets/health.scss';
@import 'stylesheets/model.scss';
@import 'stylesheets/alfa.scss';
@import 'stylesheets/graffiti.scss';
@import 'stylesheets/tv.scss';
@import 'stylesheets/teaser.scss';
@import 'stylesheets/slang10.scss';
@import 'stylesheets/games90.scss';
@import 'stylesheets/tests.scss';
@import 'stylesheets/components/atoms.scss';
@import 'stylesheets/components/molecules.scss';
@import 'stylesheets/components/organisms.scss';
@import 'stylesheets/components/wrappers.scss';
@import 'stylesheets/components/collections.scss';
@import 'stylesheets/components/quarks.scss';

a {
  text-decoration: none;
}
